<?php

namespace StepStar;

return [
    /**
     * Options du module StepStar.
     */
    'step_star' => [
        /**
         * Options pour la génération des fichiers au format TEF.
         */
        'tef' => [
            'xsl_template_params' => [
                // identifiant STEP/STAR de l'établissement
                'etablissementStepStar' => 'XXXX',
                // identifiant "autorité SUDOC" de l'établissement de soutenance
                'autoriteSudoc_etabSoutenance' => '123456789',
            ],
            // préfixe des répertoires temporaires créés lors de la génération
            'output_dir_path_prefix' => '/tmp/sygal_stepstar_',
        ],
        /**
         * Options pour l'appel du web service Step-Star.
         */
        'api' => [
            'soap_client' => [
                'wsdl' => [
                    'url' => 'https://xxxxx/yyyyy.wsdl',
                ],
                'soap' => [
                    'version' => SOAP_1_1, // cf. extension "php-soap"
                    //'proxy_host' => 'proxy.unicaen.fr',
                    //'proxy_port' => 3128,
                ],
            ],
            'params' => [
                // identifiant STEP/STAR de l'établissement (todo: identique à 'etablissementStepStar' ?)
                'idEtablissement' => 'XXXX',
            ],
        ],
    ],
];