[submodule "unicaen-app"]
	path = vendor/unicaen/app
	url = git@git.unicaen.fr:lib/unicaen/app.git

[submodule "unicaen-auth"]
	path = vendor/unicaen/auth
	url = git@git.unicaen.fr:lib/unicaen/auth.git
