$title_module_color: #004980;

label:not(:empty):not(:has(*))::after, .label_en, .admission-section-title-en {
  content: attr(data-after);
  font-style: italic;
  font-weight: bold;
}

div.header-admission {
  h1 {
    color: $title_module_color;
  }

  .introduction {
    text-align: left;
    color: #707070;
    margin-left: 50px;
  }
}

/** Global **/

.admission {
  padding-bottom: 95px;
}

.admission-info-bulle {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.admission-section-form {
  margin-top: 50px;
}

.admission-section-title-container {
  background: #00498099;
  padding-left: 15px;
  border-radius: 8px;
}

.admission-section-title {
  text-align: left;
  padding: 5px;
  color: #FFFFFF;
  font-size: 20px;
  margin: 0;
}

.admission-section-title-en {
  margin-left: 10px;
  font-size: 15px;
}

.admission-section-doctype-title-en {
  margin-left: 10px;
  font-size: 10px;
  font-weight: bold;
}

.admission-informations-title-section {
  color: #FFFFFF;
  margin-top: revert;
}

.row.subfield {
  margin: 15px;
}

.admission-form-checkboxes > .mb-2 > .multicheckbox > .form-check-label {
  display: inline-block;
  padding-right: 15px;
}

/** Fin Global **/

/** Section des commentaires visibles à chaque étape du form **/

.bouton-gestionnaire {
  margin-right: 15px;
}

.observations-gestionnaire {
  margin-top: 10px;
  margin-bottom: 25px;
}

.observations-gestionnaire > .col {
  text-align: right;
  color: #ccc;
  text-decoration: none;
}

.observations-gestionnaire > div > div > div > label {
  display: inline-flex;
  margin-right: 15px;
}

.observations-gestionnaire > div > div > div > label > input {
  display: none;
}

.observations-gestionnaire > div > div > div > .btn-danger.selected::after {
  content: "\2715";
}

.observations-gestionnaire > div > div > div > .btn-success.selected::after {
  content: "\2713";
}

.commentaires-gestionnaire .partie-etudiant {
  display: flex;
}

.commentaires-gestionnaire .commentaire-gestionnaire {
  margin-left: 30px;
  margin-top: 30px;
}

.commentaire-gestionnaire {
  background-color: #d23544;
  color: #fff;
}

.commentaire-gestionnaire::before {
  content: "\26A0";
}

.commentaire-gestionnaire:hover {
  background-color: #bb2d3b;
}

.commentaires-gestionnaire .info-commentaire {
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.verification-gestionnaire {
  margin-left: 30px;
  display: inline-block;
  padding: 8px 12px;
  color: white;
  border-radius: 4px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.verification-gestionnaire::before {
  margin-right: 8px;
}

.aucune-action-effectuee-commentaire {
  background-color: #00498099;
  color: white;
}

.aucune-action-effectuee-commentaire::before {
  content: "\002139";
}

.aucune-action-effectuee-commentaire:hover {
  background-color: #003d6699;
}

.pas-de-commentaire-ajoute {
  background-color: #b95a26;
}

.pas-de-commentaire-ajoute::before {
  content: "\26A0";
}

.pas-de-commentaire-ajoute:hover {
  background-color: #824012;
}

.partie-complete {
  background-color: #38833b;
  color: #fff;
  border-radius: 4px;
}

.partie-complete::before {
  content: "\2713";
}

.partie-complete:hover {
  background-color: #45a049;
}

.partie-etudiant > p {
  margin-top: 30px;
}

/** Fin Section des commentaires visibles à chaque étape du form **/


.notifier-commentaires-ajoutes {
  display: flex;
  justify-content: flex-end;
}

.notifier-commentaires-ajoutes > a {
  width: auto;
}

/** INDEX Admission **/

.admission-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  position: relative;
}

.search-individu-label, .search-individu-input, .access-admission-btn {
  width: auto;
}

.access-admission-btn > button {
  margin-top: initial;
}

.acces-admission-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
}

.structure-non-declaree {
  color: #a94442;
  font-style: italic;
  margin-bottom: unset;
}

/** Fin index Admission **/

/** Partie Etudiant **/

.info-ine-btn {
  border-width: inherit;
  padding: unset;
  background-color: unset;
}

.ine-label {
  display: initial;
}

input[name="etudiant[ine]"] {
  margin-bottom: 0.8rem;
  margin-top: 0.18rem;
}

input[type="radio"][name="etudiant[civilite]"] {
  opacity: 0.5;
  pointer-events: none;
}

div.mb-2:has(input[type="hidden"][name="etudiant[individu]"]),
div.mb-2:has(input[type="hidden"][name="etudiant[paysNaissanceId]"]),
div.mb-2:has(input[type="hidden"][name="etudiant[nationaliteId]"]) {
  display: none;
}

.admission-field-information {
  font-style: italic;
}

.admission-form-checkboxes.checkbox-diplome {
  margin-left: 20px;
  margin-top: 15px;
}

select[name="etudiant[anneeDobtentionDiplomeAutre]"], select[name="etudiant[anneeDobtentionDiplomeNational]"] {
  font-size: inherit;
  padding: .15rem .425rem .315rem .45rem;
}

/** Fin Partie Etudiant **/

/** Partie Inscription **/

.informations-confidentialite-souhaitee {
  align-items: center;
  display: flex;
}

.specifites-section-title {
  margin-top: 7px !important;
}

.these-titre-container > span {
  display: inline-block;
  vertical-align: middle;
  padding-right: unset;
}

.these-titre-container > div {
  display: inline;
  float: left
}

.individu-non-enregistre-label {
  color: darkred;
}

/** Fin Partie Inscription **/

/** Partie pièces justificatives **/

.infos-pieces-justificatives-container > p {
  text-align: left;
  color: #004980;
  margin-bottom: 5px;
}

.infos-pieces-justificatives-container {
  border-bottom: 1px dashed #004980;
}

.filename-label,
.date-televersement-container,
.action-file-container {
  display: flex;
  align-items: center;
}

.upload-file {
  margin-top: 20px;
}

.upload-file > input {
  display: none;
}

.upload-file > i {
  font-style: unset;
  cursor: pointer;
  font-size: 15px;
}

.file-charte-doctorat, .file-convention-formation-doctorale {
  display: none;
  width: auto;
}

.charte-doctorale-operations, .convention-formation-doctorale-operations {
  display: none;
}

.loading-file {
  cursor: progress;
  pointer-events: none;
}

.file-convention-formation-doctorale {
  height: 150px;
}

#modalShowConventionFormationDoctorale #loading-indicator {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-radius: 10px;
  padding: 20px;
}

#modalShowConventionFormationDoctorale #loading-indicator .spinner {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.date-televersement-container:empty {
  display: none;
}

.date-televersement-container {
  width: auto;
}

.date-televersement-container > p {
  margin-bottom: initial;
}

.action-file-container > a {
  padding-right: 15px !important;
}

/** Fin Partie pièces justificatives **/

/** Partie Circuit de signatures **/

.rang-operation-container {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #8E8E8E;
  color: #fff;
  text-align: center;
  line-height: 25px;
  font-size: 12px;
  font-weight: bold;
  content: "1";
  margin-right: 15px;
}

.operation-ok, .circle-etape > .circle-icon-ok {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #2EA662;
  background-color: #2EA662;
  color: white;
  text-align: center;
  line-height: 25px;
  font-size: 12px;
  font-weight: bold;
  content: "1";
  padding-right: unset;
  margin-right: unset;
}

.operation-waiting {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #F1732D;
  background-color: #F1732D;
  color: white;
  text-align: center;
  line-height: 25px;
  font-size: 12px;
  font-weight: bold;
  content: "1";
  padding-right: unset;
  margin-right: unset;
}

.circle-etape > .circle-icon-ko {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #d23544;
  background-color: #d23544;
  color: white;
  text-align: center;
  line-height: 25px;
  font-size: 12px;
  font-weight: bold;
  content: "1";
  padding-right: unset;
  margin-right: unset;
}

.rang-operation-container > p {
  color: #8E8E8E;
}

.multipage-nav.next, .multipage-nav, .multipage-nav.submit, .multipage-nav.cancel {
  float: right;
}

.multipage-nav.cancel {
  clear: both;
}

.access-conv-form-doct-btn.required, .access-charte-doctorat-btn.required {
  background-color: #F1732D;
  color: #fff;
  font-weight: bold;
}

.access-conv-form-doct-btn.required:hover, .access-charte-doctorat-btn.required:hover {
  background-color: #824012;
}

.dossier-incomplet-validation-impossible {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
  color: #F1732D;
}

.dossier-incomplet-validation-impossible:before {
  font-size: large;
}

.dossier-incomplet-validation-impossible .tooltip-text, .admission-info-bulle .tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.dossier-incomplet-validation-impossible:hover .tooltip-text, .admission-info-bulle:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.access-suppression-operation-btn, .btn-warning.validation-operation-btn {
  background-color: #ffc107;
  border-color: #ffc107;
}

.circle-etape {
  width: fit-content;
  padding-right: unset;
  margin-right: 15px;
}

.etape-signature-infos-container {
  display: flex;
  align-items: center;
  width: auto;
  padding-left: unset;
}

.etape-signature-infos-container > label {
  color: #707070;
  font-size: 15px;
}

.etape-signature-infos-container .info-validation-container {
  margin-left: 10px;
}

.info-validation-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-validation-container > p {
  margin-bottom: unset;
  margin-top: unset;
}

.etape-signature-infos-container > a {
  margin-left: 10px;
}

.dossier-complet-card {
  border: 3px solid #37AF37;
  border-radius: 11px;
  max-width: fit-content;
}

.validations-cards-container .card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.dossier-incomplet-card {
  border: 3px solid #E69B18;
  border-radius: 11px;
  max-width: fit-content;
}

.dossier-refuse-card {
  border: 3px solid #d23544;
  border-radius: 11px;
  max-width: fit-content;
}

.dossier-complet-card > div > p, .dossier-incomplet-card > div > p, .dossier-refuse-card > div > p {
  color: #707070;
  font-size: 15px;
}

.dossier-complet-card > div > i, .dossier-incomplet-card > div > i, .dossier-refuse-card > div > i {
  font-style: unset;
}

.card-body.text-success i.icon, .card-body.text-warning i.icon, .card-body.text-danger i.icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.card-body.text-success p.card-title, .card-body.text-warning p.card-title, .card-body.text-danger p.card-title {
  display: inline-block;
}

.validations-cards-container .card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.validations-cards-container {
  margin-top: 15px;
}

#file-recap-signe-container {
  display: none;
}

/** Fin Partie Circuit de signatures **/


/** Formulaire Convention de formation doctorale **/
.convention-formation-doctorale-container > form > .row {
  margin-bottom: 30px;
}

.precisions-action-container, .precisions-convention-intro-container {
  background-color: #f8d7da;
  color: #721c24;
  padding: 15px;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  margin-bottom: 20px;
  width: fit-content;
}

.precisions-action-container p, .precisions-convention-intro-container p {
  margin: 0;
  font-weight: bold;
  display: inline-block;
}

.precisions-action-container, .precisions-convention-intro-container i {
  margin-right: 10px;
}

.precisions-convention-champs {
  font-style: italic;
}

.precisions-convention-champs + textarea {
  margin-bottom: 30px;
  height: 100px !important;
}

/** Fin Formulaire Convention de formation doctorale **/

@media (max-width: 768px) {
  /** Global **/

  .commentaires-gestionnaire .partie-etudiant {
    flex-direction: column;
  }

  /** Fin Global **/

  /** Index Admission **/

  .individu-recherche-index-container {
    display: flex;
    justify-content: center;
  }

  /** Fin index Admission **/

  /** Partie Justificatifs **/

  .detail-file-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .row > .date-televersement-container, .row > .action-file-container {
    width: revert;
  }

  /** Fin Partie justificatifs **/

  /** Partie circuit de signatures **/

  .libelle-etape-container {
    display: flex;
    align-items: center;
  }

  .libelle-etape-container > label {
    color: #707070;
    font-size: 1.45vh;
    margin-left: unset;
  }

  .circle-etape {
    margin-right: 10px;
  }

  .info-validation-container {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .validations-cards-container {
    margin-top: 20px;
  }

  .etape-validation-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .access-recap-signe-btn {
    margin-top: 15px;
  }

  /** Fin Partie circuit de signatures **/
}