$uploadedFileFontSize: 80%;

h1, h2, h3 {
  font-weight: bold;
}

h2 {
  margin-top: 35px;
}

h2:nth-of-type(1) {
  margin-top: 20px;
}

#footer a.logo-etablissement {
  background-image: url('/logo-etablissement.png');
  background-repeat: no-repeat;
  background-size: 90px auto;
  background-position: right top;
  display: inline-block;
  height: 90px;
  width: 90px;
  text-indent: -9999px;
}

.modal-body {
  h2 {
    font-size: 180%;
  }
  h2:nth-of-type(1) {
    margin-top: 0;
  }
}

h2.modal-title {
  background-color: white;
  border: none;
  margin-top: 0;
  padding: 0;
}

.modal-header, .modal-footer {
  padding: {
    top: 5px;
    bottom: 5px;
  }
}
.modal-header {
  background-color: rgb(51, 122, 183);
  .modal-title {
    color: white;
    background-color: transparent;
  }
}
.modal-footer {
  .btn {
    padding: 4px 8px;
  }
}

.panel.box {
  margin-bottom: 15px;
  box-shadow: 1px 1px 6px #555;

  .panel-heading {
    padding: 5px 10px;
    h2 {
      font-size: 150%;
      margin: 0;
    }
    span.glyphicon {
      margin-right: 5px;
    }
  }
  .panel-body {
    h2 {
      font: {
        size: 150%;
      }
    }
    h3 {
      font: {
        size: 120%;
        weight: bold;
      }
      //border-bottom: #ddd dotted 1px;
    }
    h3:nth-of-type(1) {
      margin-top: 0;
    }
    h1.first, h2.first, h3.first, h4.first {
      margin-top: 0;
    }

    div.messenger.alert {
      width: 33%;
      min-width: 350px;
      margin: {
        top: 15px;
        left: 0;
      }
    }
  }
}

.panel.panel-md {
  font-size: 90%;
  .panel-heading,
  .panel-body {
    padding: 6px 10px;
  }
}

.panel.panel-sm {
  .panel-heading, .panel-body {
    font-size: 80%;
    padding: 4px 8px;
  }
}

ul.validation, ul.validation-attendue {
  padding-left: 0;
  list-style-type: none;
  li {
    padding-left: 10px;
    margin-bottom: 8px;
    border-left: solid 7px;
    dl {
      margin: 0;
    }
  }
}
ul.validation {
  li {
    //background-color: rgba(92, 184, 92, 0.1);
    border-left-color: #5cb85c;
  }
}
ul.validation-attendue {
  li {
    //background-color: rgba(210, 40, 40, 0.1);
    border-left-color: #d22828;
  }
}

blockquote {
  font-size: 100%;
  ul {
    font-size: 100%;
    padding-left: 10px;
  }
}

div.jumbotron p,
div.jumbotron ul li {
  font-size: 120%;
}

p.appname-subtitle {
  margin: {
    top: -25px;
    bottom: 30px;
  }
}

div.loading {
  background-image: url('//gest.unicaen.fr/images/ajax-loader-r.gif');
  background-position: center center;
  min-height: 32px;
  * {
    opacity: 0.7;
  }
}

div.widget-uploader {
  .loading {
    background-image: url('//gest.unicaen.fr/images/ajax-loader-h.gif');
    background-position: inherit;

  }
}

//div.box {
//  padding: 10px;
//  margin-bottom: 15px;
//  box-shadow: 1px 1px 12px #555;
//
//  .box-header {
//
//  }
//
//  h1.first,
//  h2.first {
//    margin-top: 0;
//    border-bottom: 4px rgba(173, 216, 230, 0.5) solid;
//  }
//}

span.ballot-box {
  font-size: 18px;
  margin-right: 10px;
}

div#sidebar {
  margin-bottom: 30px;
  .glyphicon {
    margin-right: 3px;
  }
}

div#contenu-principal {
  min-height: 500px;
}

.page-header:nth-of-type(1) {
  margin-top: 0;
}

.page-header small {
  font-size: 50%;
}

.upload-form {
  font-size: 85%;
  margin:{
    top: 15px;
  }
  color: #31708f;
}

li.uploaded-file {
  padding: 3px 3px 5px 3px;
  margin-bottom: 10px;
  border: 1px dashed #ddd;
  .VOC, .VAC {
    .filename::after {
      content: 'Corrigé';
      margin-left: 5px;
      color: #8a6d3b;
      font: {
        size: 70%;
        weight: bold;
      }
      vertical-align: top;
    }
  }
}

.button-center {
  display: block;
  margin: {
    left: auto;
    right: auto;
  }
  width: 100px;
}

ul.pagination {
  li a {
    padding: 3px 6px;
    font-size: 80%;
  }
}

span.sortable-icon {
  font-size: 75%;
}

p.help-block {
  font-size: 80%;
}
p.help-block.help-block-before {
  margin-top: -5px;
  margin-bottom: 5px;
  display: inline-block;
}
p.help-block.help-block-after {
  margin-top: 2px;
}

a.toggle-details:hover, a.toggle-details:focus {
  text-decoration: none;
}



/** Tabs **/

ul.nav-tabs {
  h2 {
    font: {
      weight: bold;
      size: 140%;
    }
    margin: {
      top: 0;
      bottom: 0;
    }
  }
}

div.tab-content {
  padding: 10px 0 0 25px;
  border-left: 1px solid #ddd;
}

div.bootstrap-tagsinput {
  display: block;
}

div.bootstrap-tagsinput {
  .tag {
    font: {
      size: 90%;
      weight: normal;
    }
  }
}

form.metadonnees {
  .help-block {
    margin-left: 1em;
  }
}

form.attestations {
  div.checkbox {
    margin-left: 30px;
  }
}

form.diffusion {
  h3 {
    margin-top: 5px;
    font-size: 18px;
  }
  #theseDiv, #annexesDiv {
    border-left: 3px solid lightgray;
  }
}

div.widget-uploader {
  .uploaded-files-div {
    font-size: $uploadedFileFontSize;
  }
}

ul.autorisation-diffusion {
  li.uploaded-file {
    font-size: $uploadedFileFontSize;
  }
}

dl {
  dt {
    //margin-bottom: 3px;
    border-bottom: 1px lightgray dotted;
  }
  dd {
    padding-left: 10px;
    margin-bottom: 8px;
  }
}

dl.metadonnees {
  .resume {
    max-height: 200px;
  }
}

form.search-form {
  margin-bottom: 25px;
}

span.resume-wc {
  font-size: 70%;
  left: -10px;
  top: -30px;
  float: right !important;
  position: relative;

}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

.text-md {
  font-size: 90%;
}

.text-sm {
  font-size: 80%;
}

.alert {
  .glyphicon {
    float: left;
    padding-right: 6px;
  }
}

.alert.alert-strong {
  font-weight: bold;
}

.alert.alert-md {
  font-size: 90%;
  padding: 6px 10px;
}

.alert.alert-sm {
  font-size: 80%;
  padding: 4px 8px;
}

div.alert {
  max-width: 75%;
  //min-width: 450px;
  margin: 5px auto 15px 0;
  background: {
    image: none;
    color: transparent;
  }
  button.close {
    margin-left: 5px;
  }
}

td.acteurs {
  ul {
    padding: 0;
    list-style-type: none;
    li {
      border-bottom: 1px dotted lightgrey;
    }
    li:nth-last-of-type(1) {
      border-bottom: none;
    }
  }
}

div.filters {
  $filterFontSize: 11px;

  table {
    td,
    th {
      border: {
        left: none !important;
        right: none !important;
      }
      padding: {
        top: 4px !important;
        bottom: 6px !important;
      }
    }
  }
  .panel-heading {
    padding: 5px 10px;
  }
  span.filter {
    padding-right: 5px;
    span,
    a {
      font-size: 90%;
    }
  }

  form {
    padding: 10px;
    .form-group {
      margin-right: 4px;
      vertical-align: bottom;
      font-size: $filterFontSize;
      ul.dropdown-menu {
        font-size: $filterFontSize;
        a {
          padding: 3px 7px;
        }
      }
      .dropdown-toggle {
        font-size: $filterFontSize;
        padding: 3px 25px 3px 10px;
      }
      .input-group {
        div {
          //padding: 3px 6px;
        }
      }
    }
    label {
      display: block;
      margin-bottom: 3px;
      line-height: 95%;
    }
    .filter-option, #search-input {
      font-size: $filterFontSize;
    }
  }
}

table.these-fiche {
  max-width: 400px;
  font-size: 80%;
}

.popover {
  max-width: 100%; /* Max Width of the popover (depending on the container!) */
}

.autorisation-laius {
  font: {
    size: 90%;
    style: oblique;
  }
}

ul.autorisation-diffusion {
  li {
    margin-bottom: 15px;
    p.autoris-diffusion-motif {
      padding-left: 15px;
    }
  }
}

div.these-search-input-help {
  font-size: 80%;
}

.imported-role-name::after {
  content: 'IMPORTÉ';
  margin-left: 5px;
  color: #d22828;
  font: {
    size: 50%;
    weight: bold;
  }
  vertical-align: top;
}

.historise-role-name {
  text-decoration: line-through;
}

div.fichier-validite {
  margin-top: 4px;
}

span.label-validite.label {
  font-size: 90%;
}

span.mots-cles.label {
  font-size: 90%;
}
span.mots-cles {
  padding: 0 3px 1px;
  border: 1px solid gray;
  border-radius: 4px;
}

div.fichier-retraitement {
  margin-top: 6px;
}

div.apercu-fichier {
  img {
    box-shadow: 1px 1px 12px #555;
    display: block;
  }
}

p.autoris-diffusion-motif {
  font-size: 90%;
}

.checkbox {
  input[type="checkbox"] {
    margin-top: 2px;
  }
  .checkbox-label {
    margin-left: 5px;
  }
}


form.form-retraiter {
  margin: 4px 0 15px 0;
}

@media (min-width: 768px) {
  .dl-horizontal.dl-horizontal-md {
    dt {
      width: 200px;
    }
    dd {
      margin-left: 220px;
    }
  }
  .dl-horizontal.dl-horizontal-lg {
    dt {
      width: 260px;
    }
    dd {
      margin-left: 280px;
    }
  }
}

@media (min-width: 1100px) {
  .modal-dialog {
    width: 1000px;
  }
}

@media (min-width: 1250px) {
  .container {
    width: 1220px;
  }
}

@media (min-width: 1500px) {
  .container {
    width: 1470px;
  }
}

form {
  input[type='submit'] {
    margin-top: 20px;
  }
}

/******** Boutons ***********/

.btn {
  span.glyphicon {
    margin-right: 5px;
  }
}

.btn.btn-xs {
  span.glyphicon {
    margin-right: 2px;
  }
}

.box {
  .btn.btn-primary {
    margin-bottom: 10px;
    padding: {
      left: 15px;
      right: 15px;
    }
  }
  .btn.btn-primary.dropdown-toggle {
    margin-bottom: -2px;
  }
}

/******** Feuille de route ********/

table.roadmap {
  .glyphicon.glyphicon-check,
  .glyphicon.glyphicon-unchecked {
    font-size: 110%;
    margin-right: 5px;
  }
}

ul.roadmap.pagination {
  margin: 5px 0;
  li {
    font-size: 20px !important;
    a.roadmap-step-link {
      .glyphicon {
        margin-right: 8px;
        font-size: 120%;
        vertical-align: text-bottom;
      }
    }
  };
}


/************* Menu *************/

ul.menu-secondaire,
ul.menu-information {
  background: #f5f5f5;
  border-radius: 4px;
  border: 4px solid #e1e1e1;
  li {
    margin-top: 0;

    span.divider {
      display: block;
      height: 4px;
      border-top: solid 4px #e1e1e1;
      //margin: 5px 0 5px;
    }

    a.roadmap {
      font-weight: bold;
    }

    // Les items de menus concernant le dépôt de la version initiale sont mis en retrait
    // lorsque qu'une correction est attendue.
    a.version-initiale.correction-attendue- {
      opacity: 1.0; // opacité normale lorsqu'aucune correction n'est attendue
    }
    span.divider.version-initiale.correction-attendue- {
      display: none; // masquage du séparateur entre dépôt version initiale etdépôt version corrigée
    }
    a.version-initiale.correction-attendue-mineure, a.version-initiale.correction-attendue-majeure {
      opacity: 0.5; // opacité réduite lorsqu'une correction est attendue
    }
  }
}

div.menu-information-header {
  font-weight: bold;
  font-size: 115%;
  border-radius: 4px;
  border: 4px solid #e1e1e1;
  padding: 5px;
  text-align: center;
  background-color: #eee;
  margin-bottom: -4px;
}



tr.ecole-doctorale.selected,
tr.unite-recherche.selected {
  /*border: 2px solid lightblue;*/
  /*border-left-width: 5px;*/
  background-color: rgba(51, 122, 183, 0.7);
  color: white;
}

tr.ecole-doctorale.selected,
tr.unite-recherche.selected {
  a {
    color: white;
  }
}

ul.ui-autocomplete {
  li {
    .extra {
      font-size: 80%;
      color: grey;
    }
  }
}


.histo::after {
  margin-left: 5px;
  color: #d22828;
  font: {
    size: 55%;
    weight: bold;
  }
  //vertical-align: top;
}
.historisee::after {
  @extend .histo::after;
  content: 'SUPPRIMÉE';
}
.historise::after {
  @extend .histo::after;
  content: 'SUPPRIMÉ';
}


/**************** Photo ********************/

div.photo-placeholder {
  width: 100px;
  height: 120px;
  border: {
    style: dashed;
    color: lightgray;
    width: 3px;
  }
}
div.photo-placeholder.loading {
  background: url('//gest.unicaen.fr/images/ajax-loader-r.gif') no-repeat center;
}

#photo-div {
  position: absolute;
  right: 30px;
  margin-right: 30px;
}


/************* FAQ *************/

dl.faq {
  dt {
    font-weight: bold;
    font-size: 120%;
  }
}


/*********** Utilisateurs *********************/

span.sas-highlight {
  font-weight: bold;
  margin: 0;
}





.individu-usurpation-form {
  display: inline;
  input[type="submit"] {
    margin: 0 0 0 8px;
  }
}


.user-usurpation-form {
  margin-top: 30px;
  padding-top: 10px;
  border-top: 1px lightgrey dotted;
  .form-group {
    float: left;
    margin-right: 5px;
  }
  .btn {
    margin-top: 0;
  }
}
