$filterFontSize: 11px;
$uploadedFileFontSize: 80%;

$infoColor: #009ce4;
$successColor: #2EA662;
$warningColor: #f1732d;
$dangerColor: #d23544;

h1, h2, h3 {
  font-weight: bold;
}

h2 {
  margin-top: 35px;
}

h2:nth-of-type(1) {
  margin-top: 20px;
}

#footer a.logo-etablissement {
  background-image: url('/logo-etablissement.png');
  background-repeat: no-repeat;
  background-size: 90px auto;
  background-position: right top;
  display: inline-block;
  height: 90px;
  width: 90px;
  text-indent: -9999px;
}

.modal-body {
  h2 {
    font-size: 180%;
  }
  h2:nth-of-type(1) {
    margin-top: 0;
  }
}

h2.modal-title {
  background-color: white;
  border: none;
  margin-top: 0;
  padding: 0;
}

.modal-header, .modal-footer {
  padding: {
    top: 5px;
    bottom: 5px;
  }
}
.modal-header {
  background-color: rgb(51, 122, 183);
  .modal-title {
    color: white;
    background-color: transparent;
  }
}
.modal-footer {
  .btn {
    padding: 4px 8px;
  }
}

.card.box {
  margin-bottom: 10px;

  .card-header {
    padding: 5px 10px;
    h2 {
      font-size: 150%;
      margin: 0;
    }
    .icon {
      margin-right: 5px;
    }
  }
  .card-body {
    h2 {
      font: {
        size: 150%;
      }
    }
    h3 {
      font: {
        size: 120%;
        weight: bold;
      }
      //border-bottom: #ddd dotted 1px;
    }
    h3:nth-of-type(1) {
      margin-top: 0;
    }
    h1.first, h2.first, h3.first, h4.first {
      margin-top: 0;
    }

    div.messenger.alert {
      width: 33%;
      min-width: 350px;
      margin: {
        top: 15px;
        left: 0;
      }
    }
  }
}
.card.box.roadmap-next-step {
  width: 50%;
}

.card .card-header {
  font-weight: 400;
}
.card-header.bg-info  {
  color: white;
}
.card-header.bg-success  {
  color: white;
}
.card-header.bg-danger {
  color: white;
}


.panel.box {
  margin-bottom: 10px;

  .panel-heading {
    padding: 5px 10px;
    h2 {
      font-size: 150%;
      margin: 0;
    }
    span.glyphicon {
      margin-right: 5px;
    }
  }
  .panel-body {
    h2 {
      font: {
        size: 150%;
      }
    }
    h3 {
      font: {
        size: 120%;
        weight: bold;
      }
      //border-bottom: #ddd dotted 1px;
    }
    h3:nth-of-type(1) {
      margin-top: 0;
    }
    h1.first, h2.first, h3.first, h4.first {
      margin-top: 0;
    }

    div.messenger.alert {
      width: 33%;
      min-width: 350px;
      margin: {
        top: 15px;
        left: 0;
      }
    }
  }
}
.panel.box.roadmap-next-step {
  width: 50%;
}


ul.validation, ul.validation-attendue {
  padding-left: 0;
  list-style-type: none;
  li {
    padding-left: 10px;
    margin-bottom: 8px;
    border-left: solid 7px;
    dl {
      margin: 0;
    }
  }
}
ul.validation {
  li {
    //background-color: rgba(92, 184, 92, 0.1);
    border-left-color: #5cb85c;
  }
}
ul.validation-attendue {
  li {
    //background-color: rgba(210, 40, 40, 0.1);
    border-left-color: #d22828;
  }
}

blockquote {
  font-size: 100%;
  ul {
    font-size: 100%;
    padding-left: 10px;
  }
}

div.jumbotron {
  p, ul li {
    font-size: 120%;
  }
  .connected-as {
    color: #a94442;
    font-size: 24px;
    font-weight: 400;

    span.role {
      font-weight: 600;
    }
  }
  .connected-as:nth-of-type(1) {
    margin-bottom: 0;
  }
  .connected-as:nth-of-type(2) {
    font-size: 16px;
  }
}

p.appname-subtitle {
  margin: {
    top: -25px;
    bottom: 30px;
  }
}

div.loading {
  background-image: url('//gest.unicaen.fr/images/ajax-loader-r.gif');
  background-position: center center;
  min-height: 32px;
  * {
    opacity: 0.7;
  }
}

div.widget-uploader {
  .loading {
    background-image: url('//gest.unicaen.fr/images/ajax-loader-h.gif');
    background-position: inherit;

  }
}

//div.box {
//  padding: 10px;
//  margin-bottom: 15px;
//  box-shadow: 1px 1px 12px #555;
//
//  .box-header {
//
//  }
//
//  h1.first,
//  h2.first {
//    margin-top: 0;
//    border-bottom: 4px rgba(173, 216, 230, 0.5) solid;
//  }
//}

span.ballot-box {
  font-size: 18px;
  margin-right: 10px;
}

#menu-acces-rapide {
  left: -10000px;
}
#menu-acces-rapide:focus {
  left: auto;
}

.nav {
  .icon,
  .fa,
  .fas,
  .fab {
    margin-right: 3px;
  }
}
#sidebar {
  margin-bottom: 30px;
}

div#contenu-principal {
  min-height: 500px;
}

.page-header:nth-of-type(1) {
  margin-top: 10px;
}

.page-header small {
  font-size: 50%;
}

.upload-form {
  font-size: 85%;
  margin:{
    top: 15px;
  }
  color: #31708f;
}

li.uploaded-file {
  padding: 3px 3px 5px 3px;
  margin-bottom: 10px;
  border: 1px dashed #ddd;
  .VOC, .VAC {
    .filename::after {
      content: 'Corrigé';
      margin-left: 5px;
      color: #8a6d3b;
      font: {
        size: 70%;
        weight: bold;
      }
      vertical-align: top;
    }
  }
}

.button-center {
  display: block;
  margin: {
    left: auto;
    right: auto;
  }
  width: 100px;
}

ul.pagination {
  li a {
    padding: 3px 6px;
    font-size: 80%;
  }
}

span.sortable-icon {
  font-size: 75%;
}

// NB : .help-block a disparu dans Bootstrap 4, .form-text doit être utilisé à la place.
form .form-text {
  font-size: 80%;
}

.form-label {
  margin-bottom: .25rem;
}

a.toggle-details:hover, a.toggle-details:focus {
  text-decoration: none;
}



/** Tabs **/

ul.nav-tabs {
  h2 {
    font: {
      weight: bold;
      size: 140%;
    }
    margin: {
      top: 0;
      bottom: 0;
    }
  }
}

div.tab-content {
  padding: 10px 0 0 25px;
  border-left: 1px solid #ddd;
}

div.bootstrap-tagsinput {
  display: block;
}

div.bootstrap-tagsinput {
  .tag {
    font: {
      size: 90%;
      weight: normal;
    }
  }
}

form.metadonnees {
  .help-block {
    margin-left: 1em;
  }
}

form.attestations {
  div.checkbox {
    margin-left: 30px;
  }
}

form.diffusion {
  h3 {
    margin-top: 5px;
    font-size: 18px;
  }
  #theseDiv, #annexesDiv {
    border-left: 3px solid lightgray;
  }
}

div.widget-uploader {
  .uploaded-files-div {
    font-size: $uploadedFileFontSize;
  }
}

ul.autorisation-diffusion {
  li.uploaded-file {
    font-size: $uploadedFileFontSize;
  }
}

dl {
  dt {
    //margin-bottom: 3px;
    border-bottom: 1px lightgray dotted;
  }
  dd {
    padding-left: 10px;
    margin-bottom: 8px;
  }
}

dl.metadonnees {
  .resume {
    max-height: 200px;
  }
}

form.search-form {
  margin-bottom: 25px;
}

span.resume-wc {
  font-size: 70%;
  left: -10px;
  top: -30px;
  float: right !important;
  position: relative;

}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

.text-md {
  font-size: 90%;
}

.text-sm {
  font-size: 80%;
}

.alert {
  .icon {
    float: left;
    padding-right: 6px;
  }
}

.alert.alert-strong {
  font-weight: bold;
}

.alert.alert-md {
  font-size: 90%;
  padding: 6px 10px;
}

.alert.alert-sm {
  font-size: 80%;
  padding: 4px 8px;
}

div.alert {
  max-width: 75%;
  //min-width: 450px;
  margin: 5px auto 15px 0;
  background: {
    image: none;
    color: transparent;
  }
  button.close {
    margin-left: 5px;
  }
}

td.acteurs {
  ul {
    padding: 0;
    list-style-type: none;
    li {
      border-bottom: 1px dotted lightgrey;
    }
    li:nth-last-of-type(1) {
      border-bottom: none;
    }
  }
}

div.filters {
  table {
    td,
    th {
      border: {
        left: none !important;
        right: none !important;
      }
      padding: {
        top: 4px !important;
        bottom: 6px !important;
      }
    }
  }
  .card-header {
    padding: 5px 10px;
  }
  .card-body {
    background-color: white;
  }
  span.filter {
    padding-right: 5px;
    span,
    a {
      font-size: 90%;
    }
  }
  .filter-option-inner-inner {
    padding-right: 3px
  }

  form {
    padding: 10px;
    //.form-group {
      * {
        font-size: $filterFontSize;
        line-height: 1.15;
      }
      //display: block;
      //margin-right: 1em;
      //margin-bottom: 5px;
      //vertical-align: middle;
      ul.dropdown-menu {
        a {
          padding: 3px 7px;
        }
      }
      button.dropdown-toggle {
        padding: 3px 4px 3px 4px;
        height: 20px;
        background-color: #eee;
        border-color: darkgray;
      }
      .input-group {
        .input-group-text {
          padding: 2px 4px;
        }
      }
    //}
    label {
      display: block;
      margin-bottom: 3px;
    }
    //.input-group-append.filter {
    //  padding: 2px;
    //}
    .bootstrap-select {
      height: 22px;
    }
  }
}

div#these-filters {
  min-width: 30px;
  min-height: 170px;
}

table.these-fiche {
  max-width: 400px;
  font-size: 85%;
}

.popover {
  max-width: 100%; /* Max Width of the popover (depending on the container!) */
}

.autorisation-laius {
  font: {
    size: 90%;
    style: oblique;
  }
}

ul.autorisation-diffusion {
  li {
    margin-bottom: 1em;
    p.autoris-diffusion-motif {
      padding-left: 15px;
    }
  }
}

div.these-search-input-help {
  font-size: 80%;
}

.imported-role-name::after {
  content: 'IMPORTÉ';
  margin-left: 5px;
  color: #d22828;
  font: {
    size: 50%;
    weight: bold;
  }
  vertical-align: top;
}

.historise-role-name {
  text-decoration: line-through;
}

div.fichier-validite {
  margin-top: 4px;
}

span.label-validite.label {
  font-size: 90%;
}

span.mots-cles.label {
  font-size: 90%;
}
span.mots-cles {
  padding: 0 3px 1px;
  border: 1px solid gray;
  border-radius: 4px;
}

div.fichier-retraitement {
  margin-top: 6px;
}

div.apercu-fichier {
  img {
    box-shadow: 1px 1px 12px #555;
    display: block;
  }
}

p.autoris-diffusion-motif {
  font-size: 90%;
}

.checkbox {
  input[type="checkbox"] {
    margin-top: 2px;
  }
  .checkbox-label {
    margin-left: 5px;
  }
}
.checkbox-sm {
  input[type="checkbox"] {
    transform : scale(0.9);
  }
  .checkbox-label {
    margin-left: 2px;
    font-size: 90%;
  }
}

form.form-retraiter {
  margin: 4px 0 15px 0;
}

@media (min-width: 768px) {
  .modal-dialog {
    max-width: 720px;
  }
  .dl-horizontal.dl-horizontal-md {
    dt {
      width: 200px;
    }
    dd {
      margin-left: 220px;
    }
  }
  .dl-horizontal.dl-horizontal-lg {
    dt {
      width: 260px;
    }
    dd {
      margin-left: 280px;
    }
  }
}

@media (min-width: 1100px) {
  .modal-dialog {
    max-width: 1000px;
  }
}

@media (min-width: 1250px) {
  .container {
    max-width: 1220px;
  }
}

@media (min-width: 1500px) {
  .container {
    max-width: 1470px;
  }
}

form {
  input[type='submit'] {
    margin-top: 20px;
  }
}

/******** Boutons ***********/

.btn-info {
  background-color: $infoColor;
  border-color: $infoColor;
}
.btn-success {
  background-color: $successColor;
  border-color: $successColor;
}
.btn-danger {
  background-color: $dangerColor;
  border-color: $dangerColor;
}
.btn-warning {
  background-color: $warningColor;
  border-color: $warningColor;
}

.box {
  .btn.btn-primary {
    margin-bottom: 10px;
    padding: {
      left: 15px;
      right: 15px;
    }
  }
  .btn.btn-primary.dropdown-toggle {
    margin-bottom: -2px;
  }
}

/******** Feuille de route ********/

table.roadmap {
  .fas.fa-check-circle,
  .fas.fa-times-circle {
    font-size: 110%;
    margin-right: 5px;
  }
}

ul.roadmap.pagination {
  margin: 5px 0;
  li {
    font-size: 20px !important;
    a.roadmap-step-link {
      .fas {
        margin-right: 8px;
        font-size: 120%;
        vertical-align: text-bottom;
      }
    }
  };
}


/************* Menu *************/

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255, 0.9);
}

#menu-informations,
#menu-actualites,
#menu-offretheses,
#menu-soutenances-a-venir {
  margin-bottom: 1rem;

  .card-header {
    padding: .5rem 1rem;

    p {
      margin-bottom: 0;
    }
  }

  .card-body {
    background: white;
  }

  .nav {
    padding: 0.5rem;
  }

  .nav-item {
    margin-top: 0;

    .nav-link {
      padding: 0.3rem 0.3rem;
    }

    //span.divider {
    //  display: block;
    //  height: 3px;
    //  border-top: solid 3px #e1e1e1;
    //}
  }
}


ul.menu-secondaire {
  li {
    a.roadmap {
      font-weight: bold;
    }

    // Les items de menus concernant le dépôt de la version initiale sont mis en retrait
    // lorsqu'une correction est attendue.
    a.version-initiale.correction-attendue- {
      opacity: 1.0; // opacité normale lorsqu'aucune correction n'est attendue
    }
    span.divider.version-initiale.correction-attendue- {
      display: none; // masquage du séparateur entre dépôt version initiale et dépôt version corrigée
    }
    span.divider.version-initiale.correction-effectuee-O {
      display: inherit; // forçage du séparateur si les corrections ont été effectuées
    }
    a.version-initiale.correction-attendue-facultative,
    a.version-initiale.correction-attendue-obligatoire,
    a.version-initiale.correction-effectuee-O {
      opacity: 0.5; // opacité réduite lorsqu'une correction est attendue
    }
  }
}

#menu-actualites {
  margin-top: 2em;
  li:first-child {
    padding-top: 7px;
  }
  .nav-item {
    padding: 0 0 10px;
    h2 {
      font-weight: 400;
      font-size: 90%;
      margin: 0;
      line-height: 120%;
    }
    //.nav-link {
    //  padding: 0;
    //}
    p.date {
      margin: 0;
      font-size: 75%;
      color: initial;
    }
    .fa {
      font-size: 55%;
      vertical-align: super;
    }
  }
}

div.menu-information-header {
  font-weight: bold;
  font-size: 115%;
  //border-radius: 4px;
  border: 4px solid #e1e1e1;
  padding: 5px;
  text-align: center;
  background-color: #eee;
  margin-bottom: -4px;
}



tr.ecole-doctorale.selected,
tr.unite-recherche.selected {
  /*border: 2px solid lightblue;*/
  /*border-left-width: 5px;*/
  background-color: rgba(51, 122, 183, 0.7);
  color: white;
}

tr.ecole-doctorale.selected,
tr.unite-recherche.selected {
  a {
    color: white;
  }
}

ul.ui-autocomplete {
  li {
    .extra {
      font-size: 80%;
      color: grey;
    }
  }
}


.histo::after {
  margin-left: 5px;
  color: #d22828;
  font: {
    size: 55%;
    weight: bold;
  }
  //vertical-align: top;
}
.historisee::after {
  @extend .histo, ::after;
  content: 'SUPPRIMÉE';
}
.historise::after {
  @extend .histo, ::after;
  content: 'SUPPRIMÉ';
}

.fermee { // NB: ne pas mettre `option.fermee` sinon le style n'est pas pris en compte par bootstrap-select
  background: #ea9e9e !important;
}

/**************** Photo ********************/

div.photo-placeholder {
  width: 100px;
  height: 120px;
  border: {
    style: dashed;
    color: lightgray;
    width: 3px;
  }
}
div.photo-placeholder.loading {
  background: url('//gest.unicaen.fr/images/ajax-loader-r.gif') no-repeat center;
}

#photo-div {
  position: absolute;
  right: 30px;
  margin-right: 30px;
}


/************* FAQ *************/

dl.faq {
  dt {
    font-weight: bold;
  }
}


/*********** Utilisateurs *********************/

span.sas-highlight {
  font-weight: bold;
  margin: 0;
}





.individu-usurpation-form {
  display: inline;
  input[type="submit"] {
    margin: 0 0 0 8px;
  }
}

/********** à déplacer... ************/

.user-profile-select-form label {
  margin-bottom: 0;
}
.user-profile-select-form label > input[type="radio"] {
  margin-right: 0.2rem;
  margin-top: -3px;
}
.user-usurpation-form {
  .form-group {
    // ENLEVÉ CAR PERTURBE LE PADDING BOTTOM DU POPOVER
    //float: left;
    //margin-right: 5px;
  }
  .user-usurpation-submit {
    margin-top: 0;
  }
}
.popover-body {
  .user-usurpation-form {
    padding-top: 1em;
  }
}
.user-usurpation-stop-btn {
  padding-top: 1em;
}

#user-status.usurpation {
    border-radius: 5px;
    padding: 1px 3px;
    background-color: #C9302C;
}
/******* ...dans unicaen/app *********/


.bs-searchbox {
  input {
    padding: 2px 3px;
    height: auto;
  }
}


.div-connexion {
  width: 60%;
  text-align: center;
  margin: auto auto 30px;
  .page-header {
    font-size: 40px;
    margin-top: 30px;
    text-align: center;
  }
  .nav.nav-tabs {
    li {
      font-size: 110%;
      font-weight: bold;
    }
  }
  .tab-content {
    padding-top: 25px;
  }
  .connect-description {
    margin-bottom: 25px;
    font-weight: 450;
  }
  .connect-identity, .connect-credentials {
    width: 75%;
    max-width: 250px;
    margin: auto;
  }
  .connect-submit {
    margin-top: 20px;
    button {
      height: auto;
      font-size: 120%;
      padding: 10px 15px;
      background-color: $dangerColor;
      border-color: $dangerColor;
    }
  }
  .messenger {
    width: auto;
    max-width: 400px;
    font-weight: bold;
    padding: 10px;
    margin: 20px auto;
  }
}

.debug-infos {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  font-size: 90%;
}

.valide {
  font-weight: 600;
  color: $successColor;
}

span.badge.EN_COURS {
    background: $infoColor;
  }
span.badge.VALIDEE,
span.badge.badge-success
{
    background: $successColor;
  }
span.badge.REJETEE,
span.badge.badge-error
{
    background: $dangerColor;
}



.livelog-panel {
  line-height: normal;
  font-family: monospace;
  font-size: 9px;

  border: 2px grey dotted;

  height: 300px;
  overflow-y: scroll;
  overflow-x: scroll;
  white-space: nowrap;

  padding: 0.5em;
  margin-top: 1em;
}