@charset "UTF-8";
/**
 * Charte Normandie Université
 */
body {
  font-size: 13px;
  padding-bottom: 100px; }

h1 {
  font-size: 29.25px; }

h2 {
  font-size: 22.75px; }

h3 {
  font-size: 19.5px; }

h4 {
  font-size: 16.25px; }

th {
  font-weight: 450; }

.navbar {
  font-size: 14.3px; }
  .navbar .dropdown-menu {
    padding-top: 0;
    padding-bottom: 0; }

.popover,
.popover-title {
  font-size: 13px; }

.dropdown-menu {
  font-size: 13px; }
  .dropdown-menu > li > a {
    font-weight: normal;
    padding: 5px 10px; }
  .dropdown-menu li.divider {
    display: block;
    height: 3px;
    border-top: solid 3px #e1e1e1;
    margin: 0; }

.lead {
  font-size: 14.3px;
  margin-bottom: 1rem; }

.form-control {
  padding: 0 8px;
  height: 28px; }

.input-group-addon {
  padding: 2px 6px;
  font-size: 13px;
  height: 28px; }
  .input-group-addon .dropdown {
    height: 28px; }

.btn, input, select {
  font-size: 13px;
  padding: 3px 6px;
  min-height: 22.75px;
  vertical-align: middle; }

.btn.btn-lg {
  font-size: 14.3px;
  line-height: 110%;
  padding: 8px; }
  .btn.btn-lg .glyphicon {
    margin-right: 5px; }

.btn.btn-sm {
  font-size: 11.7px;
  line-height: 100%;
  padding: 6px; }
  .btn.btn-sm .glyphicon {
    margin-right: 3px; }

.btn.btn-xs {
  font-size: 10.4px;
  line-height: 100%;
  padding: 4px; }
  .btn.btn-xs .glyphicon {
    margin-right: 2px; }

body.development .navbar-inverse,
body.test .navbar-inverse,
body.production .navbar-inverse {
  background-image: none;
  background-color: #006EAD;
  border-color: #006EAD; }

body.development .navbar-inverse .navbar-nav .active a,
body.test .navbar-inverse .navbar-nav .active a,
body.production .navbar-inverse .navbar-nav .active a {
  background-image: none;
  background-color: #004980;
  border-color: #004980; }

.navbar-inverse .navbar-nav > li > a {
  color: white; }

.navbar-inverse .navbar-link {
  color: white; }

.navbar-inverse .navbar-text {
  color: #333; }

.navbar > .container .navbar-brand {
  width: 120px;
  background-image: url("/css/SyGAL_logo_Blanc03.png");
  background-repeat: no-repeat;
  background-size: 85%;
  background-position: center 8px;
  text-indent: -9999px; }

body.development .navbar-inverse .navbar-nav .dropdown-menu > li > a,
body.test .navbar-inverse .navbar-nav .dropdown-menu > li > a,
body.production .navbar-inverse .navbar-nav .dropdown-menu > li > a {
  background-color: white; }
body.development .navbar-inverse .navbar-nav .dropdown-menu > li > a:hover,
body.test .navbar-inverse .navbar-nav .dropdown-menu > li > a:hover,
body.production .navbar-inverse .navbar-nav .dropdown-menu > li > a:hover {
  background-color: #eee; }
body.development .navbar-inverse .navbar-nav .dropdown-menu > li.active a,
body.test .navbar-inverse .navbar-nav .dropdown-menu > li.active a,
body.production .navbar-inverse .navbar-nav .dropdown-menu > li.active a {
  background-color: #337ab7; }
body.development .navbar-inverse .navbar-nav .dropdown-menu > li.active a:hover,
body.test .navbar-inverse .navbar-nav .dropdown-menu > li.active a:hover,
body.production .navbar-inverse .navbar-nav .dropdown-menu > li.active a:hover {
  color: #eee; }

.page-header {
  padding-bottom: 5px; }

.jumbotron p {
  font-weight: normal; }

#footer {
  padding-top: 10px;
  margin-bottom: 0;
  background-color: #006EAD; }

#footer ul {
  width: 100%; }

#footer ul li a {
  color: white; }

#footer ul li a.logo-etablissement {
  height: 60px; }

h1.app-name {
  font-size: 130px;
  background-image: url("/css/SyGAL_logo_Bleu02.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  text-indent: -9999px; }

.scrollup {
  bottom: 80px; }

ul.breadcrumb,
ul.menu-secondaire,
ul.menu-information,
ul.menu-actualites {
  background: white;
  padding: 8px 12px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 10px lightgray; }

ul.menu-secondaire {
  padding: 3px; }

ul.menu-secondaire li a,
ul.menu-information li a {
  padding: 5px 10px; }

/*# sourceMappingURL=charte.css.map */
