$fontSize: 12px;
$fontColor: #333;
//$navbarBackgroundColor: #006EAD;
$navbarBackgroundColor: #004980;
$navbarBackgroundColorActive: #004980;
$sidebarBackgroundColor: #e9ecef;;
$sidebarBackgroundColorActive: #004980;

/**
 * Charte Normandie Université
 */

body {
  font-size: $fontSize;
  padding-top: 65px;
  padding-bottom: 100px;
}

a {
  color: #337ab7;
  text-decoration: none;
}

h1 {
  font-size: $fontSize * 2.25;
}
h2 {
  font-size: $fontSize * 1.75;
}
h3 {
  font-size: $fontSize * 1.50;
}
h4 {
  font-size: $fontSize * 1.25;
}

th {
  font-weight: 450;
}

.text-success {
  color:#3c763d !important;
}
.text-info {
  color:#31708f !important;
}
.text-warning {
  color:#F1732D !important;
}
.text-danger {
  color: #a94442 !important;
}

.bg-success {
  background-color:#2EA662 !important;
}
.bg-info {
  background-color:#009CE4 !important;
}
.bg-warning {
  background-color:#F1732D !important;
}
.bg-danger {
  background-color: #d9534f !important;
}

.popover,
.popover-title {
  font-size: $fontSize;
}
.dropdown-menu {
  font-size: $fontSize;
  > li > a {
    font-weight: normal;
    padding: 5px 10px;
  }
  li.divider {
    display: block;
    height: 3px;
    border-top: solid 3px #e1e1e1;
    margin: 0;
  }
}
.lead {
  font-size: $fontSize * 1.1;
  margin-bottom: 1rem;
}

.user-profile-select-form {
  margin-bottom: 0.75rem;
}

.form-check {
  margin-top: 0.5rem;
}

.form-control {
  padding: 0 8px;
  height: $fontSize * 2 + 2;
}
.form-check-input {
  padding: 0;
}
.input-group-addon {
  padding: 2px 6px;
  font-size: $fontSize;
  height: $fontSize * 2 + 2;

  .dropdown {
    height: $fontSize * 2 + 2;
  }
}
.btn, input, select {
  font-size: $fontSize;
  padding: 3px 6px;
  vertical-align: middle;
}
.btn.btn-lg {
  font-size: $fontSize * 1.10;
  line-height: 110%;
  padding: 8px;
  .icon {
    margin-right: 5px;
  }
}
.btn-sm {
  font-size: $fontSize * 0.90;
  line-height: 100%;
  padding: 6px;
}
.btn.btn-sm {
  font-size: $fontSize * 0.80;
  line-height: 100%;
  padding: 4px;
  .icon {
    margin-right: 2px;
  }
}

.page-header {
  padding-bottom: 5px;
}

.jumbotron p {
  font-weight: normal;
}

#footer {
  padding-top: 10px;
  margin-bottom: 0;
  background-color: $navbarBackgroundColor;
}
#footer ul {
  width: 100%;
}
#footer ul li a {
  color: white;
}
#footer ul li a.logo-etablissement {
  height: 60px;
}

h1.app-name {
  font-size: 130px;
  background-image: url('/css/ESUPSyGAL_logo_Bleu02.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  text-indent: -9999px;
}

.scrollup {
  bottom: 80px;
}




#navbar {
  font-size: $fontSize * 1.1;
  background-color: $navbarBackgroundColor;

  .navbar-brand {
    width: 100px;
    background-image: url("/css/ESUPSyGAL_logo_Blanc03.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-indent: -9999px;
  }

  .nav-item {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  .nav-item.active {
    .nav-link {
      //background-color: $navbarBackgroundColorActive;
      font-weight: bold;
    }
  }

  .dropdown-item {
    padding: 0.2rem 1rem;
  }
  .dropdown-item.active {
    background-color: $navbarBackgroundColorActive;
  }

  .dropdown-divider {
    margin: .25rem 0;
  }

  .navbar-text {
    line-height: 1;
  }
}

#breadcrumb {
  ol.breadcrumb {
    padding-top: 0.3rem;
    padding-bottom: 0.4rem;
  }
}

#sidebar {
  .nav {
    padding: .5rem 0;
    margin: 0;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;

    .nav-link {
      color: $fontColor;
      padding: .25rem 0.75rem;
    }
    .active .nav-link {
      background-color: $navbarBackgroundColorActive;
      border-color: $navbarBackgroundColorActive;
      color: white;
    }

    .divider {
      padding: 0;
      height: 0;
      margin: .5rem 0;
      overflow: hidden;
      border-top: 1px solid rgba(0,0,0,.15);
    }
  }
}
