$fontSize: 13px;
$fontColor: #333;
$navbarBackgroundColor: #006EAD;
$navbarBackgroundColorActive: #004980;

/**
 * Charte Normandie Université
 */

body {
  font-size: $fontSize;
  padding-bottom: 100px;
}

h1 {
  font-size: $fontSize * 2.25;
}
h2 {
  font-size: $fontSize * 1.75;
}
h3 {
  font-size: $fontSize * 1.50;
}
h4 {
  font-size: $fontSize * 1.25;
}

th {
  font-weight: 450;
}

.navbar {
  font-size: $fontSize * 1.1;
  .dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.popover,
.popover-title {
  font-size: $fontSize;
}
.dropdown-menu {
  font-size: $fontSize;
  > li > a {
    font-weight: normal;
    padding: 5px 10px;
  }
  li.divider {
    display: block;
    height: 3px;
    border-top: solid 3px #e1e1e1;
    margin: 0;
  }
}
.lead {
  font-size: $fontSize * 1.1;
  margin-bottom: 1rem;
}

.form-control {
  padding: 0 8px;
  height: $fontSize * 2 + 2;
}
.form-group {
  //padding: 5px 0;
  //height: $fontSize * 2 + 2;
}
.input-group-addon {
  padding: 2px 6px;
  font-size: $fontSize;
  height: $fontSize * 2 + 2;

  .dropdown {
    height: $fontSize * 2 + 2;
  }
}
.btn, input, select {
  font-size: $fontSize;
  padding: 3px 6px;
  min-height: $fontSize * 1.75;
  vertical-align: middle;
}
.btn.btn-lg {
  font-size: $fontSize * 1.10;
  line-height: 110%;
  padding: 8px;
  .glyphicon {
    margin-right: 5px;
  }
}
.btn.btn-sm {
  font-size: $fontSize * 0.90;
  line-height: 100%;
  padding: 6px;
  .glyphicon {
    margin-right: 3px;
  }
}
.btn.btn-xs {
  font-size: $fontSize * 0.80;
  line-height: 100%;
  padding: 4px;
  .glyphicon {
    margin-right: 2px;
  }
}

body.development .navbar-inverse,
body.test        .navbar-inverse,
body.production  .navbar-inverse {
  background-image: none; //linear-gradient(to bottom, #660000 0px, #870a0a 100%);
  background-color: $navbarBackgroundColor;
  border-color: $navbarBackgroundColor;
}

body.development .navbar-inverse .navbar-nav .active a,
body.test        .navbar-inverse .navbar-nav .active a,
body.production  .navbar-inverse .navbar-nav .active a {
  background-image: none; //linear-gradient(to bottom, #d22828 0px, #a41212 100%);
  background-color: $navbarBackgroundColorActive;
  border-color: $navbarBackgroundColorActive
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}
.navbar-inverse .navbar-link {
  color: white;
}
.navbar-inverse .navbar-text {
  color: $fontColor;
}
.navbar > .container .navbar-brand {
  width: 120px;
  background-image: url('/css/ESUPSyGAL_logo_Blanc03.png');
  background-repeat: no-repeat;
  background-size: 85%;
  background-position: center 8px;
  text-indent: -9999px;
}

.nav-pills > li > a {
  //border-radius: 20px;
}

body.development .navbar-inverse .navbar-nav,
body.test        .navbar-inverse .navbar-nav,
body.production  .navbar-inverse .navbar-nav {
  .dropdown-menu > li > a {
    background-color: white;
  }
  .dropdown-menu > li > a:hover {
    background-color: #eee;
  }
  .dropdown-menu > li.active a {
    background-color: #337ab7;
  }
  .dropdown-menu > li.active a:hover {
    color: #eee;
  }
}

.page-header {
  padding-bottom: 5px;
}

.jumbotron p {
  font-weight: normal;
}

#footer {
  padding-top: 10px;
  margin-bottom: 0;
  background-color: $navbarBackgroundColor;
}
#footer ul {
  width: 100%;
}
#footer ul li a {
  color: white;
}
#footer ul li a.logo-etablissement {
  height: 60px;
}

h1.app-name {
  font-size: 130px;
  background-image: url('/css/ESUPSyGAL_logo_Bleu02.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  text-indent: -9999px;
}

.scrollup {
  bottom: 80px;
}

ul.breadcrumb,
ul.menu-secondaire,
ul.menu-information,
ul.menu-actualites {
  background: white;
  padding: 8px 12px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 10px lightgray;
}
ul.menu-secondaire {
  padding: 3px;
}
ul.menu-secondaire li a,
ul.menu-information li a {
  padding: 5px 10px;
}
