/**
 * Styles pour la page du mode maintenance
 */

$dangerColor: #d23544;

div.unicaen-maintenance-mode {
  text-align: center;
  padding-top: 80px;
  margin: auto;
  width: 60%;
  h1 {
    font-size: 250%;
    color: $dangerColor;
  }
  p {
    font-size: 150%;
    font-weight: 400;
  }
}