div.logo-comue {
    width:5cm;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.bandeau-these {
    width:18cm;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #5B2268;

    font-family: Arial, Helvetica, sans-serifl;
    font-weight: bold;
    font-size:16pt;
    color:white;
    text-align: center;
}

.infos-diplome {
    width:18cm;
    display: block;
    margin-left: auto;
    margin-right: auto;


    font-family: Arial, Helvetica, sans-serifl;
    font-weight: bold;
    font-size:12pt;
    text-align: center;
    line-height: 1.5;
    margin-top: 1ex;
    margin-bottom: 1ex;
}

.larger-infos {
    font-size:14pt;
}

.bandeau-titre {
    width:18cm;
    display: block;
    margin-left: auto;
    margin-right: auto;

    background-color: #BFBFBF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size:15pt;
    padding: 0.1cm;
    color:black;
    line-height: 1.3;
    text-align: center;
    margin-top: 2ex;
    margin-bottom: 1ex;
}

.infos-doctorant {
    width:18cm;
    display: block;
    margin-left: auto;
    margin-right: auto;

    font-family: Arial, Helvetica, sans-serifl;
    font-weight: bold;
    font-size:14pt;
    text-align: center;
    margin-top: 1ex;
    margin-bottom: 1ex;
}

.infos-encadrement{
    width:18cm;
    display: block;
    margin-left: auto;
    margin-right: auto;

    font-family: Arial, Helvetica, sans-serifl;
    font-weight: bold;
    font-size:12pt;
    text-align: left;

    border-left: solid;
    border-width: 1.5mm;
    padding-left: 2mm;
    border-color: #F5A756;
}

table.jury {
    border-collapse: collapse;
}

table.jury th {
    background-color: #F5A756;
    width: 18cm;
    font-family: Arial, Helvetica, sans-serifl;
    font-weight: bold;
    font-size:12pt;
    text-align: center;

    border-width: 0.3mm;
    border-color: #F5A756;
    border: solid;
    border-collapse: collapse;
}

table.jury td {
    font-size: 10pt;
    min-width: 4cm;

    font-family: Arial, Helvetica, sans-serifl;

    border-width: 0.3mm;
    border-color: #F5A756;
    border: solid;
    border-collapse: collapse;
    padding: 1mm;
}


table.logos {

    width:18cm;
    height:5cm;
    margin-left: auto;
    margin-right: auto;
}

table.logos td {
    width:6cm;
    text-align: center;
}
img.logo_small {
    max-width:4cm;
    max-height:3cm;
    text-align: center;
}