/**
  Identité de la thèse
*/

.informations-principales-these-header{
  display: flex;
  align-items: center;
}

.informations-principales-these-header > div:first-child{
  width:auto;
}

.informations-compl-div{
  margin-top: 5px!important;
  margin-bottom: 20px;
  flex-wrap: nowrap!important;
  gap: 10px;

  .informations-compl-card .informations-titre-these-card, .information-etat-card {
    margin-top: inherit!important;
    padding: 5px 10px;
    border-left: 5px solid var(--primary-color);
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-style:italic;
  }

  .informations-titre-these-card {
      font-size: 16px;
      font-weight: 450;
  }

  .information-etat-card {
    display: flex;
    align-items: center;
    font-style: initial;
    margin-top: 0 !important;
    margin-bottom: 25px;

    h2{
      font-size: 16px;
      font-weight: 450;
      margin: 0;
    }

    span{
      margin-right: 10px;
      position: relative;
    }
  }

  .informations-compl-card{
    flex: 0 1 auto;
  }

  .en-cours-etat-card{
    color: #f1732d;
    border-left: 5px solid #f1732d;
    min-width: 09%;
  }
  .admis-etat-card{
    color: #2EA662;
    border-left: 5px solid #2EA662;
  }
  .transferee-etat-card{
    color: grey;
    border-left: 5px solid grey;
  }
  .abandonnee-etat-card, .non-admis-etat-card{
    color: #d23544;
    border-left: 5px solid #d23544;
  }
}

.informations-compl-div > div {
  width:fit-content;
}

td .informations-compl-these-div{
  .information-etat-these-card {
    h2{
      font-size: 10px;
    }
  }
}

.these-card-header{
  background-color: var(--primary-color)!important;
}

.btn-forcage-correction{
  margin-left:15px;
}

.row .generalites > div > dl, .row .these > div > dl {
  display: flex;
}

@media (max-width: 768px) {
  .informations-these-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .informations-these-header .btn-edit {
    width: 100%;
    margin-top: 15px;
    text-align: center;
  }

  .informations-these-header .col-md-7 {
    text-align: left;
    margin-top: 15px;
  }

  .these-identite-body {
    display: grid;
  }
}

/**
  Fin Identité de la thèse
*/

/**
  Form saisie de la thèse
*/

.erase-coencadrant-acteur-div{
  align-content: center;
}

span.erase-direction-acteur, span.erase-coencadrant-acteur {
   cursor: pointer;
   display: block;
   height:06px;
   color : var(--secondary-color);
}

span.erase-direction-acteur:hover, span.erase-coencadrant-acteur:hover {
  color : var(--primary-color);
}

.form-label[for="directeur-qualite"], .form-label[for="codirecteur1-qualite"], .form-label[for="codirecteur2-qualite"]{
  margin-right: 10px;
}

.codirecteur-principal, .codirecteur-exterieur{
  margin-right:6px;
}

.codirecteur-principal + label, .codirecteur-exterieur + label {
  margin-top: 2px;
}

.these-saisie-form-section {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.these-informations-div{
  width: fit-content;
}

/**
  Fin Form saisie de la thèse
*/