body {
    font-family: ubuntu, arial, sans-serif;
    padding-top: 60px;
}

/* Personnalisation de l'affichage en fonction de l'état du l'application (development, test, production) */

body.development {
    background-image: url("//gest.unicaen.fr/images/dev.png");
}

body.test {
    background-image: url("//gest.unicaen.fr/images/test.png");
}

body.development .navbar-inverse {
    background-image: linear-gradient(to bottom, #660000 0px, #870a0a 100%);
    border-color: #660000;
}

body.development .navbar-inverse .navbar-nav .active a {
    background-image: linear-gradient(to bottom, #d22828 0px, #a41212 100%);
}

body.test .navbar-inverse {
    background-image: linear-gradient(to bottom, #002768 0px, #0a3783 100%);
    border-color: #002768;
}

body.test .navbar-inverse .navbar-nav .active a {
    background-image: linear-gradient(to bottom, #3773d7 0px, #1d57b7 100%);
}

body.test div#contenu-principal {
    background-color: white;
}

body.development div#contenu-principal {
    background-color: white;
}

body.development div#navbar div.collapse pre {
    position: absolute;
}

body.development div#navbar div.collapse table {
    position: absolute;
}

/* FIN */

/* Divers : affichage des nombres */

input[type=number] {
    padding-right: 1px;
}

span.number-negatif {
    color: red;
}

span.label-danger span.number-negatif {
    color: white;
}

span.number span.number-dec-00 {
    opacity: 0.3;
}

/* FIN */

a.navbar-brand h1 {
    font-size: 30px;
    padding: 0;
    margin: 0;
    line-height: 20px;
}

div.navbar.breadcrumbs {
    margin-top: 20px;
}

#footer {
    margin-bottom: 20px;
}

#footer ul {
    width: 75%;
    margin: auto;
    text-align: center;
}

#footer ul li {
    display: inline;
    padding: 0 1em;
    border-left: 1px gray solid;
}

#footer ul > li:first-child {
    border: none;
}

#footer a.ucbn {
    /*background-image: url('//gest.unicaen.fr/images/logo-ucbn-noir-petit.png');*/
    background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFYAAAA3CAYAAACW/r0IAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAC+xJREFUeNrsnAuUVlUVgM8wD4aZAQPkEa8RBBLlKZilCCRLHdEME1dBiJhoWSYQD7UUUWxFVFhZ4pRJKJkSSFaE8hRQKHmYODyViceIDEM8hoaZYQb+zna+47+53P/+d5jhtda/19qLf+49j3322e9zLknm3Ia6FjtZvMxiW4uNLaZYnGtxiUlAtUEYOcXiRovHLUY8uMpiUoJN4aG1xd9aLPVh5iGL/7G42eIbFtMS7AoHt1vc7WHmcovjLfa22MpiPYupmIMEhICxHoa+BjMTUAMY5VH34QmW+EMHJG4Z6h0E11s8BlMLLX4xwb7YMEFJ4PsB7RrijCI4q74J1gXDNRbzLRZZfDSg3WS1AeOrMf59mI9zGiQW/LLFrhY3WPyLT5s6FodabGdxn8VX8d5BkGUxnfZ+0IIY9QKL71m8wmJFCHo7WlwPTWJydsRp38fi1ZibIB5UWpxucb9Ho+4lSRHNeinOOI0sDrLY3GKuPFiH1OQFTDxaSde/yYBqAg+q8b5RjX79VL9fhGj/sk88HAuv8RGO19X7Z+PM9V3Vtoc8eIs/3onT8VHVcSE7eSqQbHEt4+y0mFmNviKpS+l7AMkPgqctHg2BZRZ7+vTPIHV2634kYK6RtDmOBQjNWEeom+T3MdqkoUIvWMzxef85FiNj/C4kQ5sgQQI3KxomxenXiFrDJXGwY0DScSHmx805LEa7B2rCWJGYP6tJHvdp00m9f9Dn/Z3q/dCQjF2kmCgSv1qFaDU1S2HgYux5BOnuX1uM7UEq6aced/sUUFxsOtpnrDEQuY22YVJdGeu/SI/A4JARhdD8GZxkENb3Keoko10OLse5yZx7fWg/Jcb+Ea/ppx7lFm9Q7y7Fy8ZibBqbkx6CqcKU7Yy1lb8N9n0Tz3fAGD8QKS+wuCsACxijs492rvGo/g2sV+bdQgRQI8bm0ub7amfb43ycNHVTEhvE2OrAVCWZN3refVu9uy9G/9nViAr6+fRfDyN1RjhU9VmGkJzE2LBVouP8+0OLz1s8aPFDi7cSIYiTmGPxKoslJrhW+lViSyH452yKH0hsez+/Z1qc73kvzx6ymE3CMB37p+EVi4cV/UFx7Fafd2Vo2BMWr1PzNoX2PjjxwYxxArwNp/8VMPk02uxTds5BjlKPxdjj0gCJ/ZXa8e4BIdnbyp7FCqvGq7HuOA1OyznJFT7vpqi5H7b4Ta8pcHHh5gBJc4wtiuGF71CTrEVqYzF2ZIB6O/hOgHP0hkKFtHv3NNRpVyuV94MZipmrNWPFQK9SNrN/jAGOxiHgRYvjlPfMCGi7Rf3u5vO+FarnwqzncSQanQDsU7Fwd9Jzr+RnhsCMU2T8PWRnQk8v70th6P/g9scWhyCVsoB6iPUKZQqC4safehyCn8S2VhI938cTv6T67ySFzvOg1BcG0KclddwI5kNr3UQ8/vY4mE80E0tilwes+QIcf8RrCpwqV6iXhRRltqmYNILTahRnF2eo9uNiOAtnP4s99rNtNbz4eiRS4Nfq+UA13pxqjOdXttxgooeXQSDC8oH2HSlKlT+iHtAbr9dUdSxCaqeRo8dTj2Qihk0+72XiuUQQ9dGQn/GukGyuQwhPXkwsXEJ/cZrNLHZRVbrZONYw1a1tPu8Ww9zcOGuWePgm5hO7v8fPWV1G/twAogvYjaJq2p92qJgftKRs2ACiuqDONYV0n5DrTEIWa9p9Fmn4JA50qvNU4nyg9uBCpNUZ/EEJltQe3GiiN11KKAkmoJbgAWUSJF4eS9iVgFqA+1XhxoU3t9UgcD/rcC5dLJM7Br8kInGwjZR7FUWS/Sre3mHCHUAmgCxmAiGeXxBfQYFnd4hEJQE+0JhscBax8FEPg9805/g1zvPhjmkmKWNLpDSdHH5zQv4SkICzCRJjpp6mscMeMMaLcyVnr3e+MVZCIinZ1a3lcdvj7YfAuItN9JKGYTPl6FwK5R3jOD65azW4GnPLCa0clMpRz1VnKkHx3vWXU8ofx5DapIB+7r1uI+VFV7qU2y5SluzBQktZpAa5rzUgDr0tiRyGe+aNxazhJCd7CfNWmmidN1X9Np5N9ltbqlZryW6kkj8QouR8R0qHbQjOpWQoVfyb6JNBvCmXGd6CETKOfHDxdVRwBpIlddFmTCqHiFL934iXlwW9y99yXn+Y+VNon844LzOvnIh2Z1PH+Cwsh/GWUX9wycPtzLvBnHzgKJv5G4t/N1VlznbwQeq3cja3CfrGKH79iIhE1u6Olp5Ai+XkOpdI5hMmVZCzd2C35Ry9F7/HEDe6K5PPoLJSdzzCoN1pK5L2E1N10iC3COWox51JSZHlryzus6bqOGghEticZzLGILKvCGbna4RZckwuBflRikadWEhW9g9TdcfgOAxtgTROZkOkX7bq19fEPtTszBqm00Zs+zClDcLYtbSVDZVbm9/j/WCnHmWoXjl/HzfRCr7cgpnJ7rq2ErBLBf8PFr/CYjYiGf3ZqCG0a8FOl7NBL8JwUXs5eByBLT0GViq1lU15hQ1vhB0egHS3VUwQZjVEmqZBu4zTBVX+vIneeWit+jmpru/joG8xVZdCOjOeSKG7DzGIzcxCw8qR4qehrY17WImEbvSxhVk4qiQ1qbM7uUzeld0SKMKM5DJ2AZMnq6JKMtIop7BzYOgIntdRG9wL2+cudYhZegFb9k/FiH1Iym20d7Z7D+/XYKpSlJQZzIPQ+5ipqg0LU5rCJNmkx5HE11h/AbyYhdaWwLtUTJfXh5gfIImHkcSu2M4SvLNcyyyk7WRz4lnWPCTQ5e6Xw4D9PHcfeMiZmjtcbMii8mHKCFStGOakwPRy1CwNGoth3HoTvcflYAzmpRgT5Q4Vp/Fc6F/s48SuN9GC+zE19hyYl8/GZqO14twOsWnutuUKtDqJPqM1dzuw4D3sTCpqXIBDaoidbYzk7VL2rZ6SDqdal8KYrSw0G4IOsrh22NXdVLFSUNMiGJGGGpYwRkT1kQ3bbk4+cMyG5iJP9esSNn4nGxzx9KtvojcL8xGKJExJOn0+Zr4UnFYSzuqgsuV7oeFgIt1JwPkFyQkWhAZxandhAksJxSpM7C+DPk1T1+GUJKjveYaJlsTidRVj3kxy0vwcYmxvbHM37LX4jwmxGqeohYjnm2iqriTOwpkJXIvTEEOt//OFa4krJStzl5blk55OxLMrVXYzAOO/IAYd2WRf4om/AEP7mRPPvHIYa76SklZEL5lEEeLorrR4EaFjKcnLOyZ6Ga8Lce1hNrMYR92TGsQh6CxVju1L9IvgtOQ2kJzT6atHvZhruVF3bTcwWD+C+EU8r0s2sxqxdx9rjGLHViHthpCpgmfP8awNC8qDGZNjMHYs40n0MBUJ1lnSc4SD+yC6Fc+X028nDB5gopf7jqoY+IDy+o+xnr2s1X2Md4yQrIwMMYkNW8Um7FbZZRpjjmTMu4gE3oPGT7PCNezUZgidrcpufWDkB6inIe8/RkHGSdUkJh6hMpmJPLsHYiuw6+PYyNlIy1gIHUioNR+JaUYc7b6waehRwU1kf67g4z76aEVsuYDN1UUZ0b5vmaqvfyoJH9vTRtT9bn5Lyn4dv3vChwiSmwazR6oQbTUpr2zMn+oocX+VeO9OgvQOBM8LSB+PqPjvYTKTqdhkkewnTdWlukkwJplAuxKiPqI6VQeiikz0KxRX3PkbEpWj0uoGKus6gAA0Ual3pTn5/m4JEpnCPGXMk4WU32KiH88lKxoqodOZSTf3dnPylf6IiqMz4aFsjNznXVJHDSIFiSkwrZjE4CKYloe0OUkcxETrsbUutz6CPbsaiZ/H2EcheB3jPItXvZfFZCAFkmw8RbaVwRibkYhnILoJKaZLtzN8ynkp6p1LN5P5tyXJwy7G1yXFVFVsr6fMwByVNWphdFq9hMSlgI1fmqw4noWUvo9hzldG+FZsx0yY0xfVLEeN8yhyDIPQR8jJ85G0HJzaFsyO8cl8KtiIMhxiXf52zuQKNOchxdjmzLNOSX1d3tcno1tJZrQU0/EhKi72ey4+xMCYeZigTJ4XYlKupP0b9Cmj/ZuMt4j5cogYFv5fgAEADDLxE71Tq/gAAAAASUVORK5CYII=');
    background-repeat: no-repeat;
    background-position: right top;
    display: inline-block;
    height: 35px;
    width: 90px;
    text-indent: -9999px;
}

thead {
    font-weight: bold;
}

body.wait * {
    cursor: wait;
}

fieldset > fieldset {
    margin-left: 1.5em;
}

/*fieldset > fieldset legend {
    margin-left: -1.5em;
    line-height: inherit;
    border: none;
    padding-left: 0;
    font-size: 110%;
    margin-bottom: 0;
}*/

pre.prettyprint {
    white-space: pre;
}

aside ul li.active > a {
    font-weight: bold;
}

.scrollup {
    width: 40px;
    height: 40px;
    opacity: 0.3;
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
}

ul.action.list-inline li {
    padding: 0;
}

div.messenger span.glyphicon {
    float: left;
    margin-right: 0.5em;
}

.user-profile-select-form {
    padding-left: 25px;
}

div.ui-datepicker {
    z-index: 1061 !important; /* NB: doit être supérieur à la modale Bootstrap qui est à 1050 et au popover(1060) */
}

div.multicheckbox label {
    display: block;
    font-weight: normal;
    margin-bottom: 10px;
}

div.multicheckbox label input[type=checkbox],
div.multicheckbox label input[type=radio] {
    float: left;
    margin-right: 5px;
    width: 15px;
    height: auto;
}



/* formAdvancedMultiCheckbox */
.form-advanced-multi-checkbox #items label {
    line-height: 1;
}

.form-advanced-multi-checkbox #items input {
    margin-top: 0px;
}
/* FIN DE formAdvancedMultiCheckbox */



.loading {
    background-image: url('//gest.unicaen.fr/images/ajax-loader-h.gif');
    background-repeat: no-repeat;
    background-position: left center;
    min-height: 16px;
    min-width: 11px;
}

a.loading {
    color: transparent;
}

a.btn.loading, button.loading {
    /*opacity: 0.5;*/
    background-position: center center;
}

select.loading {
    background-position: 3px center;
    color: transparent;
}



table.table-extra-condensed tr td {
    padding: 2px;
}

table.table-extra-condensed tr th {
    padding: 2px;
}

@media print {
    #footer.container {
        display: none;
    }

    .panel .collapse {
        display: block;
    }

    .well {
        border: none;
        margin: none;
        padding: none;
        background: none;
    }

    .container {
        width: 100%;
    }

    #sidebar {
        display: none;
    }

    .noprint {
        display: none;
    }
}




/* ================================================== Instadia ==================================================== */
.instadia-dialog .ui-dialog-titlebar-close {
    visibility: hidden;
}

.instadia-messages {
    overflow: auto;
}

.instadia-dialog .information {
    font-size: 8pt;
}

.instadia-messages .avatar {
    border-radius: 20px;
    box-shadow: 0 0px 5px 2px white;
    margin-top:5px;
}

.instadia-messages .message {
    border-radius: 4px;
    background-repeat: repeat-x;
    padding: 3px;
    margin-bottom: .3em;
    min-height: 3em;
}

.instadia-messages .message.message-default {
    background-image: linear-gradient(to bottom,#fcf8e3 0,#f8efc0 100%);
    border: 1px #f5e79e solid;
}

.instadia-messages .message.message-mine {
    background-image: linear-gradient(to bottom,#d9edf7 0,#b9def0 100%);
    border: 1px #9acfea solid;
}

.instadia-messages .message pre {
    margin: 0px;
    white-space: normal;
}

.instadia-messages .message.message-gauche {
    margin-right:50px;
}

.instadia-messages .message.message-droite {
    margin-left:50px;
}
