#
# Application SyGAL.
#

MAILTO=bertrand.gauthier@unicaen.fr
APP_DIR=/var/www/sygal

# Traitements en fonction des résultats de l'import.
# (du lundi au vendredi, chaque heure de 5h à 17h)
#
0 5-17 * * 1-5 root     php $APP_DIR/public/index.php process-observed-import-results 1> /tmp/sygal-process-observed-import-results.log 2>&1


# Test du WS de validation de fichier du CINES.
# (toutes les heures)
#
0 *    * * *   root     cd $APP_DIR/data/cron && bash ./test-cines-ws.bash 1> /tmp/sygal-test-cines-ws.log 2>&1


# Import des données des établissements.
## (toutes les 15 minutes)
#
*/15 * * * *   root     php $APP_DIR/public/index.php fetch --service=all --etablissement=UCN 1> /tmp/sygal-import-ws.log 2>&1
