h2 {
  font-size: 20px;
}

hr {
  width: 80%;
  height: 3px;
}

dl {
  margin-top: -0.5em;
}
dl dt {
  margin-top: 1em;
  font-weight: bold;
}
dl dd {
  padding-left: 1em;
}

div.row {
  margin-left: 1em;
}

dl dd.collection {
  font-size: 85%;
  line-height: 97%;
}
dl dd.collection div.total {
  margin: 0 0 0 2em;
  font-weight: bold;
  font-style: oblique;
}
dl dd.collection ul {
  padding-left: 2em;
}
dl dd.collection ul dl dt {
  font-weight: bold;
  margin-top: 7px;
}
dl dd.collection ul dl dd {
  margin-top: -12px;
  padding-left: 3.5cm;
}

ul.operation li {
  margin-bottom: 1em;
}
ul.operation li p {
  margin: 0; /* indispensable ! */
  padding: 0 0 10px 0;
}
ul.operation li p.operation-valeur {
  margin-left: 2em;
}
ul.operation li p.operation-valeur .avis-valeur {
  font-weight: bold;
}
ul.operation li p.avis-complement {
  margin-left: 3em;
}
ul.operation li p.avis-complement .avis-complem-libelle {
  font-weight: bold;
}

.text-success {
  color: #3c763d !important;
}
.text-danger {
  color: #a94442 !important;
}

span.badge {
  display: none;
}
span.en {
  font-style: italic;
}

img.logo-comue {
  width: 2.5cm;
}
img.logo_ced {
  width: 1.5cm;
}