#============================================#
# Config pour la préparation des scripts SQL
#       de création d'une BDD pour SyGAL
#============================================#

#=============== Établissement =============#
ETAB_CODE='UCN'                             # Code maison unique identifiant l'établissement (ex : 'UCN')
ETAB_UAI='0141408E'                         # Code UAI (RNE) de l'établissement
ETAB_SIGLE='Unicaen'                        # Sigle ou surnom de l'établissement (ex : 'Unicaen')
ETAB_LIBELLE='Université de Caen Normandie' # Libellé complet de l'établissement (ex : 'Université de Caen Normandie')
ETAB_DOMAINE='unicaen.fr'                   # Domaine de l'établissement (ex : 'unicaen.fr')
EMAIL_ASSISTANCE='sygal-assistance@univ.fr' # Adresse électronique d'assistance
EMAIL_BIBLIOTHEQUE='sygal-scd@univ.fr'      # Adresse électronique par les aspects Bibliothèque
EMAIL_DOCTORAT='sygal-doctorat@univ.fr'     # Adresse électronique par les aspects Doctorat

#============= COMUE éventuelle ============#
ETAB_COMUE=0                                # Une COMUE doit-elle être créée ? 0=Non 1=Oui
#ETAB_COMUE_SIGLE='NU'                       # Sigle ou surnom de la COMUE (ex : 'NU')
#ETAB_COMUE_LIBELLE='Normandie Université'   # Libellé complet de la COMUE (ex : 'Normandie Université')
#ETAB_COMUE_DOMAINE='normandie-univ.fr'      # Domaine de la COMUE (ex : 'normandie-univ.fr')

#============================= CED =========================#
ETAB_CED=0                                                  # Un CED doit-il être créé ? 0=Non 1=Oui
#ETAB_CED_SIGLE='CED'                                        # Sigle du CED (ex : 'CED')
#ETAB_CED_LIBELLE='Collège des écoles doctorales normandes'  # Libellé complet du CED (ex : 'Collège des écoles doctorales normandes')

#============= Sources d'import ============#
SOURCE_APOGEE=1                             # Apogée   est-elle une source de données à importer ? 0=Non 1=Oui
SOURCE_PHYSALIS=0                           # Physalis est-elle une source de données à importer ? 0=Non 1=Oui

