#======================================================================================================================#
#                               Config pour la préparation des scripts SQL
#                                     de création d'une BDD pour SyGAL
#======================================================================================================================#

#----------------------------------- Établissement -----------------------------------#

# Code unique identifiant l'établissement (ex : 'UCN')
ETAB_CODE='UCN'

# Sigle ou surnom de l'établissement (ex : 'Unicaen')
ETAB_SIGLE='Unicaen'

# Libellé complet de l'établissement (ex : 'Université de Caen Normandie')
ETAB_LIBELLE='Université de Caen Normandie'

# Domaine de l'établissement (ex : 'unicaen.fr')
ETAB_DOMAINE='unicaen.fr'

# Adresse électronique d'assistance
EMAIL_ASSISTANCE='sygal-assistance@univ.fr'

# Adresse électronique par les aspects Bibliothèque
EMAIL_BIBLIOTHEQUE='sygal-scd@univ.fr'

# Adresse électronique par les aspects Doctorat
EMAIL_DOCTORAT='sygal-doctorat@univ.fr'


#----------------------------------- COMUE éventuelle -----------------------------------#

# Une COMUE doit-elle être créée ? 0=Non 1=Oui
ETAB_COMUE=0

# Sigle ou surnom de la COMUE (ex : 'NU')
#ETAB_COMUE_SIGLE='NU'

# Libellé complet de la COMUE (ex : 'Normandie Université')
#ETAB_COMUE_LIBELLE='Normandie Université'

# Domaine de la COMUE (ex : 'normandie-univ.fr')
#ETAB_COMUE_DOMAINE='normandie-univ.fr'


#----------------------------------- CED éventuel -----------------------------------#

# Un CED doit-il être créé ? 0=Non 1=Oui
ETAB_CED=0

# Sigle du CED (ex : 'CED')
#ETAB_CED_SIGLE='CED'

# Libellé complet du CED (ex : 'Collège des écoles doctorales normandes')
#ETAB_CED_LIBELLE='Collège des écoles doctorales normandes'


#----------------------------------- Compte utilisateur de test -----------------------------------#

# Nom patronymique de l'utilisateur de test
TEST_USER_NOM_PATRONYMIQUE=Premier

# Son prénom
TEST_USER_PRENOM=François

# Son adresse électronique
TEST_USER_EMAIL=francois.premier@univ.fr

# Token permettant de réinitialiser son mot de passe
TEST_USER_PASSWORD_RESET_TOKEN='uCdWwSvPBWnlCtHWIgb8GLH3iGkKwrKSHoGqDjHTa6T9a8MeeYSD8aUdvcUvPjYu'


#----------------------------------- Sources d'import -----------------------------------#

# Apogée est-elle une source de données à importer ? 0=Non 1=Oui
SOURCE_APOGEE=1

# Physalis est-elle une source de données à importer ? 0=Non 1=Oui
SOURCE_PHYSALIS=0
