
html {
    font-family: Arial, Helvetica, sans-serifl, serif;
}

body {
    background-color: white;
}

p {
    margin-top: 0;
    margin-bottom: 0.2cm;
}

.gras {
    font-weight: bold;
}

.bandeau-these {
    width: 18.5cm;
    margin: 0.75cm auto 0.5cm auto;
    border: 3px solid black;
}

.bandeau-these h1 {
    font-weight: bold;
    font-size: 18pt;
    text-align: center;
    letter-spacing: 3px;
    margin: 0.2cm 0;
}

.infos-diplome {
    width: 18.5cm;
    font-family: Arial, Helvetica, sans-serifl, serif;
    font-size: 12pt;
    text-align: center;
    margin: 0.25cm auto;
}

.bandeau-titre {
    width: 16cm;
    background-color: #e8e8e8;
    border: 1px solid black;
    padding: 0.25cm;
    margin: 2ex auto 1ex;
}

.bandeau-titre p {
    font-size: 14pt;
    text-align: center;
    margin-bottom: 0;
}

.infos-doctorant {
    width: 18.5cm;
    font-size: 16pt;
    text-align: center;
    margin: 1ex auto;
}

.infos-soutenance {
    width: 18.5cm;
    font-size: 13pt;
    text-align: center;
    margin: 1ex auto 0;
}

table.jury {
    border-collapse: collapse;
    width: 18.5cm;
    margin-left: auto;
    margin-right: auto;
}

table.jury th {
    width: 18.5cm;
    font-family: Arial, Helvetica, sans-serifl, serif;
    font-weight: normal;
    font-size: 12pt;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

table.jury td {
    font-size: 10pt;
    min-width: 4cm;
    font-family: Arial, Helvetica, sans-serifl, serif;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1mm;
}

table.jury td.individu {
    width: 5cm;
}
table.jury td.qualite {

}
table.jury td.role {

}

.infos-encadrement {
    width: 18.5cm;
    padding-left: 2mm;
    margin-left: 0.25cm;
    margin-top: 0.25cm;
    margin-right: auto;
    font-size: 12pt;
    text-align: left;
    border-left: solid;
    border-width: 2px;
    border-color: black;
}

table.logos {
    width: 18.5cm;
    margin-left: auto;
    margin-right: auto;
}

table.logos td {
    text-align: center;
}

table.logos.header td {
    width: 10cm;
    vertical-align: top;
}

table.logos.footer td {
    height: 3cm;
    width: 6cm;
    vertical-align: bottom;
}

img.logo {
    max-height: 4cm;
    max-width: 4cm;
}

img.logo_small {
    max-width: 3cm;
    max-height: 3cm;
}

div.footer {
    position: absolute;
    top: 25.5cm;
}