<?php

return [
    'import-api' => [
        'etablissements' => [
            [
                'code' =>  'XXXXX',
                'url' =>   'XXXXX',
                'proxy' => 'XXXXX',
            ],
            [
                'code' =>  'XXXXX',
                'url' =>   'XXXXX',
                'proxy' => 'XXXXX',
            ],
        ]
    ]

];