<?php
/**
 * Fichier de config locale, SANS INFORMATIONS SENSIBLES.
 */

return [
    'sygal' => [
        'archivabilite' => [
            'proxy' => [
                'enabled' => true,
                'proxy_host' => 'http://proxy.unicaen.fr',
                'proxy_port' => 3128,
            ],
        ],
        'depot_version_corrigee' => [
            'resaisir_autorisation_diffusion' => false,
            'resaisir_attestations' => false,
        ],
    ],

    'actualite' => [
        'actif' => false,
        'flux' => "https://www-normandie-univ.fr/feed/?post_type=post&cat=406,448,472",
    ],

    'offre-these' => [
        'actif' => true,
    ],

    'import-api' => [
        // cf. secret.local.php
    ],

    // synchro avec unicaen/db-import
    'import' => [
        'connections' => [
            'default' => 'doctrine.connection.orm_default',
        ],
    ],

    'doctrine' => [
        // cf. secret.local.php
    ],

    'fichier' => [
        'root_dir_path' => '/app/upload',
    ],

    'cli_config' => [
        // cf. secret.local.php
    ],

    'public_files' => [
        'cache_enabled' => false,
    ],

    'unicaen-app' => [
        'mail' => [
            // cf. secret.local.php
            'do_not_send' => false,
        ],
        'ldap' => [
            // cf. secret.local.php
        ],
        'maintenance' => [
            // cf. z.maintenance.local.php
        ],
    ],

    'unicaen-ldap' => [
        // pas de LDAP
    ],

    'unicaen-auth' => [
        'shib' => [
            'order' => 1,
            'enabled' => true,
            'description' =>
                "<p><span class='glyphicon glyphicon-info-sign'></span> Cliquez sur le bouton ci-dessous pour accéder à l'authentification via la fédération d'identité.</p>" .
                "<p><strong>Attention !</strong> Si vous possédez à la fois un compte Étudiant et un compte Personnel, vous devrez utiliser " .
                "votre compte <em>Étudiant</em> pour vous authentifier...</p>",
            'simulate' => [
                // cf. secret.local.php
            ],
            'aliases' => [
                // cf. secret.local.php
            ],
            'required_attributes' => [
                // cf. secret.local.php
            ],
            'logout_url' => '/Shibboleth.sso/Logout?return=', // NB: '?return=' semble obligatoire!
        ],
        'local' => [
            'order' => 2,
            'description' => "Utilisez ce formulaire si vous possédez un compte local dédié à l'application.",
            'ldap' => [
                'enabled' => true,
            ],
            'db' => [
                'enabled' => true, // doit être activé pour que l'usurpation fonctionne (cf. Authentication/Storage/Db::read()) :-/ todo: faire mieux
            ],
        ],
        'cas' => [
            'order' => 3,
            'enabled' => false,
            'connection' => [
                // pas de CAS
            ]
        ],

        'usurpation_allowed_usernames' => [
            // cf. secret.local.php
        ],
    ],

    'navigation'   => [
        'default' => [
            'home' => [
                'pages' => [
                    'etab' => [
                        'label' => _("Normandie Université"),
                        'title' => _("Page d'accueil du site de Normandie Université"),
                        'uri'   => 'http://www.normandie-univ.fr',
                        'class' => 'logo-etablissement',
                        // NB: Spécifier la classe 'logo-etablissement' sur une page de navigation provoque le "remplacement"
                        //     du label du lien par l'image 'public/logo-etablissement.png' (à créer le cas échéant).
                    ],
                ],
            ],
        ],
    ],

];
