<?php

return [
    //
    // Options de fonctionnement du module unicaen/maintenance-mode.
    //
    'unicaen-maintenance-mode' => [
        // Message à afficher sur la page informant que l'appli est en maintenance
        'message' => "L'application est temporairement indisponible pour des raisons de maintenance, veuillez nous excuser pour la gêne occasionnée.",
    ],

    //
    // Feuilles CSS éventuelles propres à l'application.
    //
    'public_files' => [
        'stylesheets' => [
            '999_app_css' => '/css/charte.css', // attention à la clé (utilisée pour ordonner)
            '999_maintenance_css' => '/css/maintenance.css', // attention à la clé (utilisée pour ordonner)
        ],
    ],
];
