<?php
/**
 * Fichier de config locale, AVEC INFORMATIONS SENSIBLES.
 */

namespace Application;

use Laminas\Mail\Transport\Smtp;

return [

    'import' => [
        'connections' => [
            //
            // API.
            // Format: 'identifiant unique' => tableau de config Guzzle
            //
            'sygal-import-ws-UCN' => [ // <<<<<<<<<<<<<< remplacer 'UCN' par votre code établissement
                'url' => 'https://host.domain.fr',
//                'proxy' => false,
//                'verify' => false, // si true et faux certif : cURL error 60: SSL certificate problem: self signed certificate
                'user' => 'xxxxxx',
                'password' => 'yyyyyy',
                'connect_timeout' => 10,
            ],
        ],
        'imports' => generateConfigImportsForEtabs($etabs = ['UCN']), // <<<<<<< remplacer 'UCN' par votre code établissement
        'synchros' => generateConfigSynchrosForEtabs($etabs),
    ],

    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'params' => [
                    'host'     => 'host.domain.fr',
                    'port'     => '5432',
                    'dbname'   => 'db',
                    'user'     => 'user',
                    'password' => 'xxxxxxxxxxx',
                ],
            ],
        ],
    ],

    'cli_config' => [
        'scheme' => 'http',
        'domain' => 'localhost:8000',
    ],

    'unicaen-app' => [
        'mail' => [
            'transport' => Smtp::class,
            'transport_options' => [
                'host' => 'smtp.unicaen.fr',
                'port' => 25,
            ],
            'from' => 'ne_pas_repondre@domain.fr',
            'redirect_to' => [
                //'e.mail@domain.fr',
            ],
        ],
        'maintenance' => [
            // cf. z.maintenance.local.php
        ],
        'ldap' => [
            'connection' => [
                'default' => [
                    'params' => [
//                        'host'                => 'host.domain.fr',
//                        'username'            => "uid=uid,ou=system,dc=domain,dc=fr",
//                        'password'            => "xxxxxxx",
//                        'baseDn'              => "ou=people,dc=domain,dc=fr",
//                        'bindRequiresDn'      => true,
//                        'accountFilterFormat' => "(&(objectClass=posixAccount)(supannAliasLogin=%s))",
                    ]
                ]
            ],
        ],
    ],

    'unicaen-auth' => [
        'shib' => [
            /*
            'simulate' => [
                'HTTP_EPPN'        => $eppn = 'premierf@univ.fr',
                'HTTP_SUPANNEMPID' => '00012345',
                'HTTP_DISPLAYNAME'    => $eppn,
                'HTTP_MAIL'           => $eppn,
                'HTTP_GIVENNAME'      => 'François',
                'HTTP_SN'             => 'Premier',
                'HTTP_SUPANNCIVILITE' => 'M.'
            ],
            */
            'aliases' => [
                'eppn'                   => 'HTTP_EPPN',
                'mail'                   => 'HTTP_MAIL',
                'eduPersonPrincipalName' => 'HTTP_EPPN',
                'supannEtuId'            => 'HTTP_SUPANNETUID',
                'supannEmpId'            => 'HTTP_SUPANNEMPID',
                'supannCivilite'         => 'HTTP_SUPANNCIVILITE',
                'displayName'            => 'HTTP_DISPLAYNAME',
                'sn'                     => 'HTTP_SN',
                'surname'                => 'HTTP_SURNAME',
                'givenName'              => 'HTTP_GIVENNAME',
            ],
            'required_attributes' => [
                'eppn',
                'mail',
                'eduPersonPrincipalName',
                //'supannCivilite',
                'displayName',
                'sn|surname', // i.e. 'sn' ou 'surname'
                'givenName',
                //'supannEtuId|supannEmpId',
            ],
        ],
        'usurpation_allowed_usernames' => [
            'premierf',         // auth LDAP/CAS
            'premierf@univ.fr', // auth Shibboleth
        ],
    ],

    'liste-diffusion' => [
        'email_domain' => 'liste.domain.fr',
        'sympa' => [
            'url' => 'https://liste.domain.fr',
        ],
        'proprietaires' => [
            'e.mail@domain.fr' => "Eric MAIL",
            'f.mail@domain.fr' => "Francis MAIL",
        ],
    ],
];
