<?php
/**
 * Fichier de config locale, AVEC INFORMATIONS SENSIBLES.
 */

use Zend\Mail\Transport\Smtp;

return [

    'import-api' => [
        'etablissements' => [
            // code établissement => [config]
            'UCN' => [
                'url'      => 'https://sygal-import-ws:443',
                'proxy'    => false,
                'verify'   => false, // si true et faux certif : cURL error 60: SSL certificate problem: self signed certificate
                'user'     => 'sygal-app',
                'password' => 'xxxxxxxxxxx',
            ],
        ],
    ],

    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'params' => [
                    'host'     => 'host.domain.fr',
                    'dbname'   => 'DBNAME',
                    'port'     => '1523',
                    'user'     => $user = 'sygal',
                    'password' => 'xxxxxxxxxxx',
                    'charset'  => 'AL32UTF8',
                    'CURRENT_SCHEMA' => $user,
                ],
            ],
        ],
    ],

    'cli_config' => [
        'scheme' => 'http',
        'domain' => 'localhost:8000',
    ],

    'unicaen-app' => [
        'mail' => [
            'transport' => Smtp::class,
            'transport_options' => [
                'host' => 'smtp.unicaen.fr',
                'port' => 25,
            ],
            'from' => 'ne_pas_repondre@domain.fr',
            'redirect_to' => [
                //'e.mail@domain.fr',
            ],
        ],
        'maintenance' => [
            // liste blanche des adresses IP clientes non concernées
            'white_list' => [
                //['172.17.0.1'], // docker container ip
                //['195.123.456.789', '194.123.456.789'],
            ],
        ],
    ],

    'unicaen-auth' => [
        'shibboleth' => [
            /*
            'simulate' => [
                'HTTP_EPPN'        => $eppn = 'premierf@univ.fr',
                'HTTP_SUPANNEMPID' => '00012345',
                'HTTP_DISPLAYNAME'    => $eppn,
                'HTTP_MAIL'           => $eppn,
                'HTTP_GIVENNAME'      => 'François',
                'HTTP_SN'             => 'Premier',
                'HTTP_SUPANNCIVILITE' => 'M.'
            ],
            */
            'aliases' => [
                'eppn'                   => 'HTTP_EPPN',
                'mail'                   => 'HTTP_MAIL',
                'eduPersonPrincipalName' => 'HTTP_EPPN',
                'supannEtuId'            => 'HTTP_SUPANNETUID',
                'supannEmpId'            => 'HTTP_SUPANNEMPID',
                'supannCivilite'         => 'HTTP_SUPANNCIVILITE',
                'displayName'            => 'HTTP_DISPLAYNAME',
                'sn'                     => 'HTTP_SN',
                'surname'                => 'HTTP_SURNAME',
                'givenName'              => 'HTTP_GIVENNAME',
            ],
            'required_attributes' => [
                'eppn',
                'mail',
                'eduPersonPrincipalName',
                //'supannCivilite',
                'displayName',
                'sn|surname', // i.e. 'sn' ou 'surname'
                'givenName',
                'supannEtuId|supannEmpId',
            ],
        ],
        'usurpation_allowed_usernames' => [
            'premierf',         // auth LDAP/CAS
            'premierf@univ.fr', // auth Shibboleth
        ],
    ],
];
